@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  width: 100%;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

button, input, textarea {
  cursor: pointer;
  transition: all 300ms ease-in;
}

.logo-nav li, .tour-selection-categories li, .storie-image-bottom ul li {
  list-style-type: none;
}

.section-title {
  font-weight: 700;
  text-align: center;
  font-size: 59px;
  line-height: 124%;
  font-style: normal;
}

.subtitle-section {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}

#choosing-tour, #questionnaire, #reviews, #travel-stories {
  transition: all 200ms ease-in;
}

.header-container {
  background-image: url(../img/header-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.menu {
  z-index: 1;
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 19.58%;
  padding-right: 19.58%;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  transform: translate(-50%);
}

.menu_scroll {
  z-index: 2;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  padding-left: 19.58%;
  padding-right: 19.58%;
  background: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(27px);
          backdrop-filter: blur(27px);
  color: #1B1F2B;
}

.header-logo {
  fill: #FFFFFF;
}

.header-logo__scrool {
  fill: #1B1F2B;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  width: 468px;
}

.nav-link, .phone-number {
  position: relative;
  color: #FFFFFF;
}

.phone-number__scrool {
  color: #000000;
}

.title {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
}

.header-title {
  text-align: center;
  padding-top: 210px;
  font-size: 96px;
  font-weight: 700;
  line-height: 109%;
  letter-spacing: 0.02em;
}

.introduction {
  text-align: center;
  width: 562px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  line-height: 142%;
  font-size: 20px;
  color: #FFFFFF;
}

.findtour {
  text-align: center;
  margin-top: 46px;
  padding-bottom: 116px;
  font-size: 17px;
}

.tour-search-button {
  cursor: pointer;
  text-align: center;
  width: 118px;
  height: 38px;
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
  font-size: 17px;
}

.main-content {
  background-color: #F9F7F4;
}

.choosing-tour {
  padding-top: 135px;
  color: #1B1F2B;
}

.tour-selection-list {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.tour-category {
  position: relative;
  color: #1B1F2B;
  font-weight: 700;
  font-size: 23px;
  list-style-type: none;
  transition: all 200ms ease-in;
}

.category-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 107px;
}

.card-tour {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 370px;
  height: 531px;
  margin-bottom: 30px;
  border-radius: 50px;
  overflow: hidden;
}

.card-tour:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

.card-tour-photo {
  height: 100%;
  width: auto;
  transition: all 300ms ease-in-out;
}

.vertical {
  height: auto;
  width: 100%;
}

.card-tour .subtitle-section {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 230px;
  font-weight: 550;
  font-size: 35px;
  font-style: normal;
  line-height: 122%;
  color: #FFFFFF;
}

.cost {
  z-index: 1;
  position: absolute;
  top: 152px;
  left: 50px;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.in-detail {
  z-index: 1;
  position: absolute;
  bottom: 60px;
  left: 50px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 23px;
  color: #FFFFFF;
}

.button-details-tour {
  z-index: 1;
  position: absolute;
  margin-bottom: auto;
  border: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  background-color: transparent;
  color: #FFFFFF;
}

.arrow-on-the-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 22px;
  margin-left: 15px;
}

.questionnaire {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 105px;
}

.name-questionnaire {
  margin-left: auto;
  margin-right: auto;
}

.name-questionnaire .section-title {
  text-align: center;
}

.questionnaire-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 70px;
  border-radius: 50px;
  background: #FFFFFF;
}

.data-field {
  width: 500px;
  margin-bottom: 33px;
  color: #1B1F2B;
  font-size: 20px;
}

.field-label {
  display: block;
}

.form-input {
  width: 100%;
  margin-top: 8px;
  padding: 20px;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  background: #F9F7F4;
  color: #1B1F2B;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}

.form-input::-moz-placeholder {
  color: #A6A6A6;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
}

.form-input::placeholder {
  color: #A6A6A6;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
}

.dropdown_button {
  text-align: left;
  width: 100%;
  margin-top: 8px;
  padding: 20px;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
  background: url(../img/Rectangle34.svg) no-repeat 95% 55% #F9F7F4;
  cursor: pointer;
  transition: all 300ms ease-in;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.dropdown_button--active {
  color: #1B1F2B;
}

.dropdown {
  position: relative;
}

.dropdown_list {
  z-index: 1;
  position: absolute;
  display: none;
  text-align: left;
  width: 100%;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  list-style-type: none;
  overflow: hidden;
  background: #F9F7F4;
  color: #1B1F2B;
}

.dropdown_list--visible {
  z-index: 1;
  display: block;
}

.dropdown_list-item, .refund {
  padding: 20px;
  border-bottom: 1px solid #F4F0E9;
  border: 1px solid #F4F0E9;
  cursor: pointer;
}

.refund {
  color: #A6A6A6;
}

.data-field-comment {
  width: 100%;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
}

.comment-field {
  width: 100%;
  height: 152px;
  resize: none;
  margin-top: 8px;
  padding: 1%;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  background: #F9F7F4;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 142%;
}

.radio-buttons {
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  line-height: 142%;
}

.group-radio-buttons {
  display: flex;
  margin-top: 7px;
}

.radio {
  display: flex;
  justify-content: space-between;
}

.radio-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio:not(:first-child) {
  margin-left: 31px;
}

.agreements {
  width: 100%;
  margin-top: 34px;
  font-size: 20px;
}

.custom-radio {
  margin-left: 11px;
  display: none;
}

.radio-button::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 11px;
  box-sizing: border-box;
  border: 2px solid #1B1F2B;
  border-radius: 50%;
  cursor: pointer;
}

.custom-radio:checked + .radio-button::before {
  background-image: url(../img/Ellipse2.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-checkbox {
  display: none;
}

.checkbox-button::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 19px;
  box-sizing: border-box;
  border: 2px solid #1B1F2B;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox-button {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #A6A6A6;
}

.contract-reference {
  padding: 0.25em;
  color: #1B1F2B;
}

.custom-checkbox:checked + .checkbox-button::before {
  background-image: url(../img/Rectangle36Strok.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.questionnaire-buttons {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 30px;
}

input[type=submit] {
  width: 235px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 142%;
}

.button-search {
  background-color: #286562;
  color: #FFFFFF;
  cursor: pointer;
}

.button-reset {
  background-color: #E0F0E5;
  color: #286562;
  cursor: pointer;
}

.reviews {
  padding-top: 135px;
}

.title-description {
  text-align: center;
  width: 418px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

.containers-reviews {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;
  padding: 40px;
  border-radius: 50px;
  background: #F4F0E9;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 145px;
}

.photo-user {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.user-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
}

.tour-name {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #A6A6A6;
}

.travel-photos .section-title {
  margin-top: 135px;
}

.container-travel-photos {
  width: 96.88%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.first-row-photos, .second-row-photos, .third-row-photos {
  display: flex;
  justify-content: space-between;
}

.travel-photo {
  border-radius: 50px;
}

.first-row, .third-row {
  width: 23.8%;
  height: 300px;
}

.second-row-photos, .third-row-photos {
  margin-top: 30px;
}

.second-row {
  width: 18.8%;
  height: 301px;
  overflow: hidden;
}

.travel-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.travel-stories {
  padding-top: 135px;
}

.travel-stories-image {
  margin-top: 98px;
}

.storie-image {
  position: relative;
  display: flex;
  width: 1170px;
  height: 567px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  overflow: hidden;
}

.storie-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
}

.storie-image:not(:first-child) {
  margin-top: 50px;
}

.footer-foto {
  position: relative;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 300ms ease-in-out;
}

.storie-image .subtitle-section {
  z-index: 1;
  position: absolute;
  margin: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #FFFFFF;
}

.advantages {
  z-index: 1;
  position: absolute;
  width: 555px;
  margin: 140px 60px 60px 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
}

.item-advantage {
  list-style: none;
  font-size: 20px;
}

.item-advantage::before {
  content: "·";
  vertical-align: text-top;
  padding: 0.35em;
  font-size: 30px;
  line-height: 20px;
}

.storie-image-bottom {
  position: absolute;
  bottom: 30px;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0px 55px 85px 50px;
}

.button-details-history {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -10px;
  padding: 7px 50px 7px 20px;
  border: none;
  background-color: transparent;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #FFFFFF;
}

.links-social-networks {
  z-index: 1;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.social-network-link {
  z-index: 1;
  position: relative;
  display: inline-block;
  margin-left: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
  transition: all 200ms ease-in;
}

.email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 771px;
  margin-top: 135px;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  word-wrap: break-word;
}

.email-feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 371px;
  gap: 20px;
}

.photo-email {
  width: 370px;
  border-radius: 50px;
}

.email-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

.email-link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
}

footer {
  margin-top: 135px;
  background: #F4F0E9;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60.83%;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.list-social-networks-bottom {
  display: flex;
}

.description-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

.social-network-item {
  display: flex;
  align-items: center;
  margin-left: 25px;
  gap: 8px;
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}

.network {
  width: 26px;
  height: 26px;
}

.social-networ-bottom {
  position: relative;
  display: inline-block;
  color: #1B1F2B;
}

@media screen and (min-width: 920px) {
  .tour-search-button:hover {
    background-color: #EFA501;
    border-radius: 10px;
    color: #FFFFFF;
  }
  .nav-link:hover::before {
    width: 100%;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #FFFFFF;
    transition: all 200ms ease-in;
  }
  .nav-link__scrool::before {
    content: "";
    border-bottom: 1px solid #000000;
  }
  .tour-category:hover::before {
    width: 100%;
  }
  .tour-category::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #1B1F2B;
    transition: all 200ms ease-in;
  }
  .card-tour:hover {
    cursor: pointer;
  }
  .storie-image:hover {
    cursor: pointer;
  }
  .card-tour:hover .card-tour-photo {
    transition: all 300ms ease-in;
    transform: scale(1.2);
  }
  .card-tour:hover .arrow-on-the-button {
    top: 50%;
    transition: all 100ms ease-in;
    transform: scale(1);
    transform: translateY(-50%);
  }
  .card-tour:hover .button-details-tour {
    margin-left: -20px;
    padding: 7px 50px 7px 20px;
    box-sizing: initial;
    border-radius: 50px;
    background: #286562;
  }
  .form-input:hover, .comment-field:hover {
    border: 1px solid #F4F0E9;
    border-radius: 10px;
    background: #F4F0E9;
  }
  .dropdown_list-item:hover {
    background: #F4F0E9;
  }
  .data-field .dropdown_button:hover {
    border: 1px solid #F4F0E9;
    border-radius: 10px;
    background: url(../img/Rectangle34.svg) no-repeat 95% 55% #F4F0E9;
  }
  .button-search:hover {
    background-color: #3B7E7B;
    color: #FFFFFF;
  }
  .button-reset:hover {
    background-color: #F1F3F2;
  }
  .social-network-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    border-bottom: 1px solid #FFFFFF;
    transition: all 200ms ease-in;
  }
  .social-network-link:hover::before {
    width: 100%;
  }
  .storie-image:hover .button-details-history {
    top: 50%;
    transform: translateY(-50%);
    box-sizing: initial;
    border-radius: 50px;
    background: #286562;
  }
  .storie-image:hover .footer-foto {
    transition: all 300ms ease-in;
    transform: scale(1.2);
  }
  .email-link:hover, .contract-reference:hover {
    text-decoration: underline;
    color: black;
    transition: all 300ms ease-in;
  }
  .social-networ-bottom::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    border-bottom: 1px solid #000000;
    transition: all 200ms ease-in;
  }
  .social-networ-bottom:hover::before {
    width: 100%;
  }
  .form-input:focus, .comment-field:focus {
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    background: #F4F0E9;
  }
  .tour-category:focus::before {
    width: 100%;
    background-color: #EFA501;
  }
  .tour-category:focus {
    color: #EFA501;
  }
  .data-field .dropdown_button:active {
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    background: #F4F0E9;
  }
  .tour-search-button:active {
    border-radius: 10px;
    background-color: #F8E6BE;
    color: #1B1F2B;
  }
  .in-detail .button-details-tour:active {
    background-color: #EFA501;
  }
  .button-search:active {
    background-color: #627F7E;
  }
  .button-reset:active {
    background-color: #D9DFDB;
  }
  .social-network-link:active {
    color: #EFA501;
  }
  .social-network-link:active::before {
    width: 100%;
    border-color: #EFA501;
  }
  .storie-image-bottom .button-details-history:active {
    background: #EFA501;
  }
  .email-link:active, .contract-reference:active {
    text-decoration-line: underline;
    color: #286562;
  }
}
@media screen and (min-width: 920px) and (max-width: 1399px) {
  .header-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-img.png) no-repeat center center;
    background-size: cover;
  }
  .menu {
    padding-left: 5.6%;
    padding-right: 5.6%;
  }
  .menu_scroll {
    z-index: 2;
    width: 100%;
  }
  .logo-nav {
    width: 408px;
  }
  .introduction {
    max-width: 500px;
    width: 43.16%;
  }
  .category-images {
    display: flex;
    flex-wrap: wrap;
    width: 89.65%;
    overflow: hidden;
  }
  .card-tour {
    width: 49.02%;
    margin-bottom: 18px;
  }
  .card-tour .subtitle-section {
    display: block;
    white-space: nowrap;
  }
  .cost {
    top: 110px;
  }
  .questionnaire {
    width: 89.65%;
    padding-top: 118px;
  }
  .questionnaire-field {
    padding: 60px;
  }
  .data-field {
    width: 48.75%;
  }
  .checkbox-button::before {
    content: "";
    margin-right: 11px;
  }
  .containers-reviews {
    width: 89.65%;
  }
  .review {
    width: 49.02%;
  }
  .container-travel-photos {
    width: 96.09%;
  }
  .first-row, .third-row {
    width: 31.98%;
  }
  .second-row {
    width: 23.48%;
  }
  .first-row:nth-child(2), .third-row:nth-child(4), .second-row:nth-child(3) {
    display: none;
  }
  .first-row:not(:nth-child(3)) .travel-photo {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .third-row:nth-child(1) .travel-photo {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bottom {
    width: 918px;
  }
  .storie-image {
    width: 89.65%;
  }
  .email {
    width: 75.29%;
    margin-right: auto;
  }
}
@media screen and (max-width: 530px) {
  .first-row:nth-child(2), .third-row:nth-child(4), .second-row:nth-child(3) {
    display: none;
  }
  .first-row:nth-child(3), .third-row:nth-child(3), .second-row:nth-child(2) {
    display: none;
  }
  .first-row:not(:nth-child(3)) .travel-photo {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .third-row {
    width: 48.5%;
  }
  .first-row, .third-row {
    height: 110px;
  }
  .second-row {
    width: 31.24%;
    height: 110px;
  }
  .second-row-photos, .third-row-photos {
    margin-top: 18px;
  }
  .travel-stories {
    padding-top: 75px;
  }
  .email .subtitle-section {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    letter-spacing: 0.04em;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
  }
  .email-text {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 16px;
    line-height: 142%;
  }
  .email-link {
    font-size: 16px;
    line-height: 142%;
  }
}
@media screen and (max-width: 919px) {
  .tour-category::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: #1B1F2B;
    transition: all 200ms ease-in;
  }
  .noHover {
    pointer-events: none;
  }
  .section-title {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
  .subtitle-section {
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
  .title {
    max-width: 550px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .introduction {
    width: 86.11%;
    margin-top: 40px;
    font-size: 16px;
  }
  .findtour {
    margin-top: 40px;
    padding-bottom: 52px;
  }
  .tour-search-button {
    width: 114px;
    height: 33px;
    font-size: 16px;
  }
  .header-title {
    padding-top: 140px;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
  .header-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-img.png) no-repeat center center;
    background-size: cover;
  }
  .menu {
    padding-left: 5.6%;
    padding-right: 5.6%;
    font-size: 16px;
  }
  .menu_scroll {
    z-index: 2;
    width: 100%;
  }
  .header-logo {
    width: 133px;
  }
  .header-menu {
    display: none;
  }
  .choosing-tour {
    padding-top: 75px;
  }
  .tour-selection-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
    gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .tour-selection-point {
    line-height: 142%;
  }
  .tour-category {
    font-size: 16px;
  }
  li .tour-category:focus {
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
  }
  .category-images {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 88.61%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    gap: 18px;
  }
  .card-tour {
    width: 48%;
    height: 318px;
    margin-bottom: 0;
    border-radius: 20px;
  }
}
@media screen and (max-width: 919px) and (max-width: 530px) {
  .card-tour {
    width: 100%;
  }
}
@media screen and (max-width: 919px) {
  .card-tour:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  }
  .card-tour .subtitle-section {
    width: 80%;
    top: 25px;
    left: 25px;
    right: 25px;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
  .cost {
    left: 25px;
    top: 90px;
    font-size: 16px;
  }
}
@media screen and (max-width: 919px) and (max-width: 530px) {
  .cost {
    top: 66px;
  }
}
@media screen and (max-width: 919px) {
  .in-detail {
    bottom: 35px;
    left: 25px;
  }
  .button-details-tour {
    font-size: 16px;
    line-height: 142%;
  }
  .questionnaire {
    width: 88.33%;
    padding-top: 75px;
  }
  .name-questionnaire .section-title {
    text-align: center;
  }
  .name-questionnaire .title-description {
    font-size: 16px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .questionnaire-field {
    margin-top: 40px;
    padding: 20px;
    border-radius: 30px;
  }
  .data-field {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 16px;
    font-size: 16px;
  }
  .data-field input {
    padding: 10px;
    height: 43px;
  }
  .dropdown_button {
    height: 46px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 10px;
  }
  .dropdown_list-item {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 10px;
  }
  .data-field input::-moz-placeholder {
    font-size: 16px;
  }
  .data-field input::placeholder, .dropdown_button {
    font-size: 16px;
  }
  .data-field .dropdown {
    margin-top: 8px;
    padding: 0;
    font-size: 16px;
    line-height: 142%;
  }
  .data-field-comment {
    margin-top: 4px;
    font-size: 16px;
  }
  .data-field-comment textarea {
    height: 132px;
  }
  .radio-buttons {
    margin-top: 22px;
    font-size: 16px;
  }
  .group-radio-buttons {
    display: flex;
    margin-top: 7px;
  }
  .group-radio-buttons .radio-button::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  input[type=radio]:checked + .radio-button::before {
    background-image: url(../img/Ellipse-2-360.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  input[type=checkbox]:checked + label::before {
    background-image: url(../img/Rectangle-36-360.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .agreements {
    display: flex;
    margin-top: 29px;
  }
  .checkbox-button::before {
    content: "";
    min-width: 20px;
    height: 20px;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 4px;
  }
  .checkbox-button {
    font-size: 16px;
    letter-spacing: 0em;
  }
  .name-questionnaire, .name-questionnaire p {
    width: 100%;
  }
  .questionnaire-buttons {
    flex-wrap: wrap;
    width: 278px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  input[type=submit] {
    width: 133px;
    padding-top: 12;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 142%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
  }
  .button_search {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .reviews {
    padding-top: 75px;
  }
  .reviews .user-feedback, .reviews-name .title-description {
    width: 90%;
    margin-top: 20px;
    font-size: 16px;
  }
  .reviews-name .title-description {
    max-width: 380px;
  }
  .containers-reviews {
    flex-wrap: wrap;
    width: 88.33%;
    margin-top: 50px;
    gap: 18px;
  }
  .review {
    width: 100%;
    padding: 20px;
    padding-top: 0;
    padding-right: 0px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 144%;
  }
  .user {
    height: 115px;
    width: 100%;
    padding-right: 20px;
  }
  .user-name {
    height: 59px;
  }
  .user-name .tour-name {
    width: 100%;
    margin-top: 0px;
    font-size: 16px;
  }
  .travel-photos .section-title {
    margin-top: 75px;
  }
  .travel-photos .title-description {
    max-width: 380px;
    width: 90%;
    margin-top: 20px;
    font-size: 16px;
  }
  .container-travel-photos {
    width: 88.33%;
    margin-top: 50px;
  }
  .first-row:nth-child(2), .third-row:nth-child(4), .second-row:nth-child(3) {
    display: none;
  }
  .first-row:nth-child(3), .third-row:nth-child(3), .second-row:nth-child(2) {
    display: none;
  }
  .first-row {
    width: 47.17%;
  }
  .first-row:not(:nth-child(3)) .travel-photo {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .third-row {
    width: 48.5%;
  }
  .second-row {
    width: 31.24%;
  }
  .second-row-photos, .third-row-photos {
    margin-top: 18px;
  }
  .travel-photo {
    border-radius: 20px;
  }
  .travel-stories-image {
    margin-top: 50px;
  }
  .travel-stories {
    padding-top: 75px;
  }
  .travel-stories .title-description {
    max-width: 380px;
    width: 90%;
    margin-top: 20px;
    font-size: 16px;
  }
  .storie-image {
    display: flex;
    justify-content: center;
    width: 88.33%;
    height: 455px;
    border-radius: 20px;
  }
  .storie-image:not(:first-child) {
    margin-top: 20px;
  }
  .storie-image-bottom {
    bottom: 28px;
  }
  .button-details-history {
    margin-left: -20px;
  }
  .footer-foto {
    border-radius: 20px;
  }
  .storie-image:after {
    content: "";
    border-radius: 20px;
  }
  .storie-image .subtitle-section {
    left: 0;
    width: 50%;
    margin: 30px;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
  .advantages {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 90%;
    margin: 106px 20px 30px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #FFFFFF;
  }
  .item-advantage {
    font-size: 16px;
  }
  .item-advantage::before {
    content: "·";
    vertical-align: text-top;
    padding: 0.55em;
    font-size: 16px;
    line-height: 20px;
  }
  .storie-image-bottom {
    padding: 0px 30px 30px 30px;
  }
  .button-details-history {
    font-size: 16px;
    line-height: 142%;
  }
  .links-social-networks {
    display: none;
  }
  footer {
    margin-top: 75px;
  }
  .email {
    width: 75.29%;
  }
}
@media screen and (max-width: 919px) and (max-width: 530px) {
  .email {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px;
  }
}
@media screen and (max-width: 919px) {
  .email-feedback {
    width: 48.12%;
  }
}
@media screen and (max-width: 919px) and (max-width: 530px) {
  .email-feedback {
    text-align: center;
    width: 88.33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
}
@media screen and (max-width: 919px) {
  .photo-email {
    width: 48.12%;
    min-width: 220px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 919px) and (max-width: 530px) {
  .photo-email {
    width: 130px;
    min-width: auto;
    border-radius: 20px;
  }
}
@media screen and (max-width: 919px) {
  .bottom {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 21px;
  }
  .bottom p {
    font-size: 16px;
  }
  .bottom a {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 142%;
  }
  .bottom ul {
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
  }
  .bottom li {
    margin-top: 7px;
    margin-left: 15px;
    gap: 5px;
  }
  .bottom li:first-child {
    margin-left: 0;
  }
  .network {
    width: 20px;
    height: 20px;
  }
}/*# sourceMappingURL=index.css.map */