@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  font-family: "Roboto", "Arial", sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
}

button, input, textarea {
  cursor: pointer;
  transition: all 300ms ease-in;
}

.in-detail button, .storie-image-bottom button {
  transition-duration: 300ms;
  transition-property: background-color;
}

.logo-nav li, .tour-selection-categories li, .storie-image-bottom ul li {
  list-style-type: none;
}

h2 {
  font-weight: 700;
  text-align: center;
  font-size: 59px;
  line-height: 124%;
  font-style: normal;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}

#choosing-tour, #questionnaire, #reviews, #travel-stories {
  transition: all 200ms ease-in;
}

.data-field label {
  display: block;
}

.header-container {
  background-image: url(../img/header-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.menu {
  font-weight: 400;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  padding-left: 19.6%;
  padding-right: 19.6%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.menu_scroll {
  background: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(27px);
          backdrop-filter: blur(27px);
  color: #1B1F2B;
  position: fixed;
  z-index: 2;
  align-items: center;
  padding-left: 376px;
  padding-right: 376px;
  width: 100%;
  top: 0;
}

.header-logo {
  fill: white;
}

.header-logo__scrool {
  fill: #1B1F2B;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  width: 468px;
}

.nav-link, .telephone {
  color: white;
  position: relative;
}

.telephone__scrool {
  color: black;
}

.title {
  width: 768px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  padding-top: 210px;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 109%;
  letter-spacing: 0.02em;
}

.introduction {
  margin-top: 50px;
  line-height: 142%;
  font-size: 20px;
  width: 562px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.findtour {
  margin-top: 46px;
  padding-bottom: 116px;
  text-align: center;
  font-size: 17px;
}

.findtour input {
  cursor: pointer;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  font-size: 17px;
  width: 118px;
  height: 38px;
  border: none;
}

.main {
  background-color: #F9F7F4;
}

.choosing-tour {
  padding-top: 135px;
  color: #1B1F2B;
}

.menu-choosing-tour ul {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.tour-category {
  position: relative;
  color: #1B1F2B;
  font-weight: 700;
  font-size: 23px;
  list-style-type: none;
  transition: all 200ms ease-in;
}

.category-images {
  margin-top: 107px;
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.card-tour {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 50px;
  flex-wrap: wrap;
}

.card-tour:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 50px;
}

.card-tour img {
  display: block;
  width: 370px;
  border-radius: 50px;
  transition: all 300ms ease-in-out;
}

.card-tour .tour-1024, .card-tour .tour-360 {
  display: none;
  width: 370px;
  border-radius: 50px;
  transition: all 300ms ease-in-out;
}

.card-tour h3 {
  font-weight: 550;
  font-size: 35px;
  font-style: normal;
  line-height: 122%;
  color: white;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 230px;
  z-index: 1;
}

.cost {
  position: absolute;
  top: 152px;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  z-index: 1;
  left: 50px;
}

.in-detail {
  font-weight: 700;
  font-size: 23px;
  color: #FFFFFF;
  position: absolute;
  display: flex;
  z-index: 1;
  bottom: 50px;
  left: 50px;
  align-items: center;
}

.in-detail button {
  color: #FFFFFF;
  z-index: 1;
  background-color: transparent;
  border: none;
  margin-bottom: auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}

.in-detail button img {
  display: inline-block;
  margin-left: 12px;
  width: 22px;
}

.questionnaire {
  padding-top: 105px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.name-questionnaire {
  margin-left: auto;
  margin-right: auto;
}

.name-questionnaire h2 {
  text-align: center;
}

.name-questionnaire p {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.questionnaire form {
  margin-top: 100px;
  padding: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #FFFFFF;
  border-radius: 50px;
}

.data-field {
  width: 500px;
  color: #1B1F2B;
  font-size: 20px;
  margin-bottom: 33px;
}

.data-field input {
  margin-top: 8px;
  padding: 20px;
  width: 100%;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  color: #1B1F2B;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  font-size: 20px;
  line-height: 142%;
}

.data-field input::-moz-placeholder {
  color: #A6A6A6;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
}

.data-field input::placeholder {
  color: #A6A6A6;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
}

.dropdown_button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 8px;
  padding: 20px;
  text-align: left;
  width: 100%;
  border: 1px solid #F4F0E9;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
  background: url(../img/Rectangle34.svg) no-repeat 95% 55% #F9F7F4;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.dropdown_button--active {
  color: #1B1F2B;
}

.dropdown {
  position: relative;
}

.dropdown_list {
  display: none;
  position: absolute;
  list-style-type: none;
  background: #F9F7F4;
  color: #1B1F2B;
  z-index: 1;
  text-align: left;
  width: 100%;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  overflow: hidden;
}

.dropdown_list--visible {
  display: block;
  z-index: 1;
}

.dropdown_list-item, .refund {
  border: 1px solid black;
  cursor: pointer;
  border-bottom: 1px solid #F4F0E9;
  border: 1px solid #F4F0E9;
  padding: 20px;
}

.refund {
  color: #A6A6A6;
}

.data-field-comment {
  color: #1B1F2B;
  width: 100%;
  font-size: 20px;
  line-height: 142%;
}

.data-field-comment textarea {
  resize: none;
  width: 100%;
  height: 152px;
  margin-top: 8px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 142%;
  padding: 1%;
}

.radiobuttons {
  font-size: 20px;
  line-height: 142%;
  width: 100%;
  margin-top: 30px;
}

.radiobutton {
  margin-top: 7px;
  display: flex;
}

.radio {
  display: flex;
  justify-content: space-between;
}

.radio label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio:not(:first-child) {
  margin-left: 31px;
}

.agreements {
  margin-top: 34px;
  font-size: 20px;
  width: 100%;
}

input[type=radio] {
  margin-left: 11px;
}

input[type=radio] {
  display: none;
}

.radiobutton label::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border: 2px solid #1B1F2B;
  border-radius: 50%;
  margin-right: 11px;
}

input[type=radio]:checked + label::before {
  background-image: url(../img/Ellipse2.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

input[type=checkbox] {
  display: none;
}

.agreements label::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 19px;
  width: 26px;
  height: 26px;
  border: 2px solid #1B1F2B;
  border-radius: 5px;
}

.agreements label {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #A6A6A6;
}

.agreements label a {
  color: #1B1F2B;
  padding: 0.25em;
}

input[type=checkbox]:checked + label::before {
  background-image: url(../img/Rectangle36Strok.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.questionnaire-buttons {
  display: flex;
  margin-top: 30px;
  width: 500px;
  justify-content: space-between;
}

.questionnaire-buttons input {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 235px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 142%;
}

.button_search input {
  cursor: pointer;
  background-color: #286562;
  color: #FFFFFF;
}

.button_reset input {
  cursor: pointer;
  background-color: #E0F0E5;
  color: #286562;
}

.reviews {
  padding-top: 135px;
}

h2 + p {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 142%;
  margin-left: auto;
  margin-right: auto;
  width: 418px;
  color: #A6A6A6;
}

.containers-reviews {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.review {
  width: 570px;
  padding: 40px;
  background: #F4F0E9;
  border-radius: 50px;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 145px;
}

.user img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.user-name {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-name p {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #A6A6A6;
}

.travel-photos h2 {
  margin-top: 135px;
}

.container-travel-photos {
  width: 1860px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.first-row-photos, .second-row-photos, .third-row-photos {
  display: flex;
  justify-content: space-between;
}

.container-travel-photos img {
  border-radius: 50px;
}

.first-row-photos div, .third-row-photos div {
  width: 23.8%;
  height: 300px;
}

.second-row-photos, .third-row-photos {
  margin-top: 30px;
}

.second-row-photos div {
  width: 18.8%;
  height: 301px;
}

.first-row-photos div img, .second-row-photos div img, .third-row-photos div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.second-row-photos div:last-child img {
  -o-object-fit: fill;
     object-fit: fill;
}

.travel-stories {
  padding-top: 135px;
}

.travel-photo1024 {
  display: none;
}

.travel-stories-image {
  margin-top: 98px;
  border-radius: 50px;
}

.storie-image {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1170px;
  height: 567px;
  border-radius: 50px;
  overflow: hidden;
}

.storie-image::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 50px;
}

.storie-image:not(:first-child) {
  margin-top: 50px;
}

.footer-foto-1920 {
  display: block;
  width: 100%;
  transition: all 300ms ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.footer-foto-1024, .footer-foto-360 {
  display: none;
}

.storie-image h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #FFFFFF;
  margin: 60px;
  position: absolute;
  z-index: 1;
}

.advantages {
  width: 555px;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  position: absolute;
  z-index: 1;
  color: #FFFFFF;
  margin: 140px 60px 60px 60px;
}

.advantages li {
  list-style: none;
  font-size: 20px;
}

.advantages li::before {
  content: "·";
  font-size: 30px;
  vertical-align: text-top;
  line-height: 20px;
  padding: 0.35em;
}

.storie-image-bottom {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0px;
  margin: auto;
  width: 100%;
  padding: 0px 60px 60px 60px;
}

.storie-image-bottom button {
  color: #FFFFFF;
  z-index: 1;
  background-color: transparent;
  border: none;
  margin-bottom: auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}

.storie-image-bottom button img {
  display: inline-block;
  margin-left: 12px;
  width: 22px;
}

.links-social-networks {
  display: flex;
}

.links-social-networks a {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
  margin-left: 36px;
  position: relative;
  z-index: 1;
  transition: all 200ms ease-in;
}

.Email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 135px;
  margin-left: auto;
  margin-right: auto;
  width: 770px;
}

.Email div {
  margin-left: 30px;
}

.Email img {
  width: 370px;
  border-radius: 50px;
}

.Email h3 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}

.Email p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

.Email p a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
}

footer {
  margin-top: 135px;
  background: #F4F0E9;
}

.bottom {
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
}

.bottom ul {
  display: flex;
}

.bottom p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

.bottom li {
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  margin-left: 25px;
  display: flex;
}

.network-360 {
  display: none;
}

.social-networ-bottom {
  position: relative;
  color: #1B1F2B;
  display: inline-block;
}

.bottom div {
  display: inline-block;
  text-align: end;
  height: 26px;
  width: 26px;
  padding-right: 4px;
  margin-right: 10px;
}

.bottom div img {
  margin-left: auto;
}

.bottom div img:nth-child(2) {
  margin-right: 8px;
}

@media (min-width: 1024px) {
  .findtour input:hover {
    background-color: #EFA501;
    border-radius: 10px;
    color: #FFFFFF;
  }
  .nav-link:hover::before {
    width: 100%;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 1px solid white;
    width: 0%;
    transition: all 200ms ease-in;
  }
  .nav-link__scrool::before {
    content: "";
    border-bottom: 1px solid black;
  }
  .tour-category:hover::before {
    width: 100%;
  }
  .tour-category::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: #1B1F2B;
    width: 0%;
    height: 2px;
    transition: all 200ms ease-in;
  }
  .card-tour:hover {
    cursor: pointer;
  }
  .storie-image:hover {
    cursor: pointer;
  }
  .card-tour:hover img {
    transition: all 300ms ease-in;
    transform: scale(1.2);
  }
  .card-tour:hover button {
    background: #286562;
    box-sizing: initial;
    margin-left: -20px;
    margin-bottom: -7px;
    border-radius: 50px;
    padding: 7px 20px;
  }
  .data-field input:hover, .data-field-comment textarea:hover {
    background: #F4F0E9;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
  }
  .dropdown_list-item:hover {
    background: #F4F0E9;
  }
  .data-field .dropdown_button:hover {
    background: url(../img/Rectangle34.svg) no-repeat 95% 55% #F4F0E9;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
  }
  .button_search input:hover {
    background-color: #3B7E7B;
    color: #FFFFFF;
  }
  .button_reset input:hover {
    background-color: #F1F3F2;
  }
  .storie-image a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    border-bottom: 1px solid white;
    width: 0;
    transition: all 200ms ease-in;
  }
  .storie-image a:hover::before {
    width: 100%;
  }
  .storie-image:hover a {
    bottom: -7px;
  }
  .storie-image:hover button {
    background: #286562;
    margin-bottom: -7px;
    margin-left: -20px;
    border-radius: 50px;
    padding: 7px 20px;
  }
  .storie-image:hover .footer-foto-1920, .storie-image:hover .footer-foto-1024 {
    transition: all 300ms ease-in;
    transform: scale(1.2);
  }
  .Email p a:hover, .agreements a:hover {
    color: black;
    text-decoration: underline;
    transition: all 300ms ease-in;
  }
  .social-networ-bottom::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    border-bottom: 1px solid black;
    width: 0;
    transition: all 200ms ease-in;
  }
  .social-networ-bottom:hover::before {
    width: 100%;
  }
  .data-field input:focus, .data-field-comment textarea:focus {
    background: #F4F0E9;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
  }
  .tour-category:focus::before {
    width: 100%;
    background-color: #EFA501;
  }
  .tour-category:focus {
    color: #EFA501;
  }
  .data-field .dropdown_button:active {
    background: #F4F0E9;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
  }
  .findtour input:active {
    background-color: #F8E6BE;
    border-radius: 10px;
    color: #1B1F2B;
  }
  .card-tour button:active {
    background: #EFA501;
  }
  .button_search input:active {
    background-color: #627F7E;
  }
  .button_reset input:active {
    background-color: #D9DFDB;
  }
  .storie-image a:active {
    color: #EFA501;
  }
  .storie-image a:active::before {
    width: 100%;
    border-color: #EFA501;
  }
  .storie-image button:active {
    background: #EFA501;
  }
  .Email p a:active, .agreements a:active {
    text-decoration-line: underline;
    color: #286562;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
  .header-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-img.png) no-repeat center center;
    background-size: cover;
  }
  .menu {
    padding-left: 5.6%;
    padding-right: 5.6%;
  }
  .menu_scroll {
    z-index: 2;
    width: 100%;
  }
  .logo-nav {
    width: 408px;
  }
  .introduction {
    max-width: 500px;
    width: 43.16%;
  }
  .category-images {
    width: 89.65%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
  .card-tour {
    overflow: hidden;
    border-radius: 50px;
    flex-wrap: wrap;
    width: 450px;
    height: 531px;
    padding-bottom: 20%;
    margin-bottom: 18px;
  }
  .card-tour img {
    display: none;
  }
  .card-tour .tour-1024 {
    display: block;
    width: 100%;
  }
  .card-tour h3 {
    width: 350px;
    white-space: nowrap;
  }
  .cost {
    top: 110px;
  }
  .questionnaire {
    width: 89.65%;
    padding-top: 118px;
  }
  .questionnaire form {
    padding: 60px;
  }
  .data-field {
    width: 48.75%;
  }
  .agreements label::before {
    content: "";
    margin-right: 11px;
  }
  .containers-reviews {
    width: 89.65%;
  }
  .review {
    width: 49.02%;
  }
  .container-travel-photos {
    width: 96.09%;
  }
  .first-row-photos div, .third-row-photos div {
    width: 31.98%;
  }
  .second-row-photos div {
    width: 23.48%;
  }
  .travel-photo1920 {
    display: none;
  }
  .second-row-photos div:nth-child(5) .travel-photo1024 {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .first-row-photos div:nth-child(2), .third-row-photos div:nth-child(4), .second-row-photos div:nth-child(3) {
    display: none;
  }
  .first-row-photos div:not(:nth-child(3)) img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .bottom {
    width: 918px;
  }
}
@media (max-width: 1023px) {
  .tour-category::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1B1F2B;
    width: 0%;
    height: 0%;
    transition: all 200ms ease-in;
  }
  .noHover {
    pointer-events: none;
  }
  h2 {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
  h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
  .title {
    max-width: 550px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .introduction {
    max-width: 380px;
    width: 86.11%;
    font-size: 16px;
    margin-top: 40px;
  }
  .findtour {
    margin-top: 40px;
    padding-bottom: 52px;
  }
  .findtour input {
    font-size: 16px;
    width: 114px;
    height: 33px;
  }
  .header-title {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
    padding-top: 140px;
  }
  .header-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-img.png) no-repeat center center;
    background-size: cover;
  }
  .menu {
    padding-left: 5.6%;
    padding-right: 5.6%;
    font-size: 16px;
  }
  .menu_scroll {
    z-index: 2;
    width: 100%;
  }
  .header-logo {
    width: 133px;
  }
  .logo__360 {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .choosing-tour {
    padding-top: 75px;
  }
  .menu-choosing-tour ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 10px;
    height: auto;
  }
  .menu-choosing-tour ul li {
    line-height: 142%;
  }
  .tour-category {
    font-size: 16px;
  }
  li .tour-category:focus {
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
  }
  .category-images {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }
  .category-images .card-tour {
    position: relative;
    margin-bottom: 0px;
    overflow: hidden;
    border-radius: 20px;
    width: 318px;
    height: 318px;
  }
  .card-tour img {
    display: none;
  }
  .card-tour .tour-360 {
    display: block;
    width: 100%;
    border-radius: 20px;
  }
  .card-tour:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 20px;
  }
  .card-tour h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
    top: 25px;
    left: 25px;
    right: 25px;
    width: 100%;
    white-space: nowrap;
  }
  .cost {
    left: 25px;
    top: 66px;
    font-size: 16px;
  }
  .in-detail {
    bottom: 25px;
    left: 25px;
  }
  .in-detail button {
    font-size: 16px;
    line-height: 142%;
  }
  .questionnaire {
    padding-top: 75px;
    width: 88.33%;
  }
  .name-questionnaire h2 {
    text-align: center;
  }
  .name-questionnaire p {
    font-size: 16px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .questionnaire form {
    margin-top: 40px;
    padding: 20px;
    border-radius: 30px;
  }
  .data-field {
    width: 100%;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .data-field input {
    padding: 10px;
    height: 43px;
  }
  .dropdown_button {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 10px;
    height: 46px;
  }
  .dropdown_list-item {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 10px;
  }
  .data-field input::-moz-placeholder {
    font-size: 16px;
  }
  .data-field input::placeholder, .dropdown_button {
    font-size: 16px;
  }
  .data-field .dropdown {
    font-size: 16px;
    line-height: 142%;
    padding: 0;
    margin-top: 8px;
  }
  .data-field-comment {
    font-size: 16px;
    margin-top: 4px;
  }
  .data-field-comment textarea {
    height: 132px;
  }
  .radiobuttons {
    font-size: 16px;
    margin-top: 22px;
  }
  .radiobutton {
    margin-top: 7px;
    display: flex;
  }
  .radiobutton label::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  input[type=radio]:checked + label::before {
    background-image: url(../img/Ellipse-2-360.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  input[type=checkbox]:checked + label::before {
    background-image: url(../img/Rectangle-36-360.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .agreements {
    margin-top: 29px;
    display: flex;
  }
  .agreements label::before {
    content: "";
    min-width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-bottom: auto;
    margin-right: 10px;
  }
  .agreements label {
    font-size: 16px;
    letter-spacing: 0em;
  }
  .name-questionnaire, .name-questionnaire p {
    width: 100%;
  }
  .questionnaire-buttons {
    margin-bottom: 10px;
    margin-top: 30px;
    width: 278px;
    flex-wrap: wrap;
  }
  .questionnaire-buttons input {
    padding-top: 12;
    padding-bottom: 12px;
    width: 133px;
    font-size: 16px;
    line-height: 142%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
  }
  .button_search {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .reviews {
    padding-top: 75px;
  }
  .reviews p {
    margin-top: 20px;
    font-size: 16px;
    width: 90%;
  }
  .reviews-name p {
    max-width: 380px;
  }
  .containers-reviews {
    width: 88.33%;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 18px;
  }
  .review {
    width: 100%;
    padding: 20px;
    padding-top: 0;
    padding-right: 0px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 144%;
  }
  .user {
    height: 115px;
    width: 100%;
    padding-right: 20px;
  }
  .user-name {
    height: 59px;
  }
  .user-name p {
    margin-top: 0px;
    font-size: 16px;
    width: 100%;
  }
  .travel-photos h2 {
    margin-top: 75px;
  }
  .travel-photos p {
    margin-top: 20px;
    font-size: 16px;
    width: 90%;
    max-width: 380px;
  }
  .container-travel-photos {
    margin-top: 50px;
    width: 88.33%;
    max-width: 550px;
  }
  .first-row-photos div:nth-child(2), .third-row-photos div:nth-child(4), .second-row-photos div:nth-child(3) {
    display: none;
  }
  .first-row-photos div:nth-child(3), .third-row-photos div:nth-child(3), .second-row-photos div:nth-child(2) {
    display: none;
  }
  .first-row-photos div {
    width: 47.17%;
  }
  .second-row-photos div:nth-child(5) .travel-photo1024 {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .first-row-photos div:not(:nth-child(3)) img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .third-row-photos div {
    width: 48.5%;
  }
  .first-row-photos div, .third-row-photos div {
    max-width: 315px;
    height: 110px;
  }
  .travel-photo1920 {
    display: none;
  }
  .second-row-photos div {
    width: 31.24%;
    height: 110px;
    max-width: 300px;
  }
  .first-row-photos div img, .third-row-photos div img, .second-row-photos div img {
    border-radius: 20px;
  }
  .second-row-photos, .third-row-photos {
    margin-top: 18px;
  }
  .travel-stories {
    padding-top: 75px;
  }
  .travel-stories p {
    margin-top: 20px;
    font-size: 16px;
    width: 90%;
    max-width: 380px;
  }
  .links-social-networks {
    display: none;
  }
  .Email {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 75px;
    width: 100%;
  }
  .Email img {
    width: 130px;
    border-radius: 20px;
  }
  .Email div {
    text-align: center;
    width: 88.33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
  }
  .Email h3 {
    font-size: 23px;
    letter-spacing: 0.04em;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    margin-bottom: 15px;
  }
  .Email p {
    font-size: 16px;
    line-height: 142%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .Email p a {
    font-size: 16px;
    line-height: 142%;
  }
  footer {
    margin-top: 75px;
  }
  .bottom {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 21px;
  }
  .bottom p {
    font-size: 16px;
  }
  .bottom a {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 142%;
  }
  .bottom ul {
    width: 87.22%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .bottom li {
    margin-top: 7px;
    margin-left: 15px;
  }
  .bottom li:first-child {
    margin-left: 0;
  }
  .bottom img {
    display: none;
  }
  .bottom div {
    display: inline-block;
    text-align: flex-end;
    height: 20px;
    width: 20px;
    padding-right: 3px;
    margin-right: 5px;
  }
  .bottom .network-360 {
    display: block;
  }
}
@media (min-width: 1024px) and (max-width: 1546px) {
  .questionnaire form {
    margin-left: auto;
    margin-right: auto;
    width: 918px;
  }
  .containers-reviews {
    width: 918px;
  }
  .storie-image {
    width: 918px;
  }
  .storie-image .footer-foto-1920 {
    display: none;
  }
  .footer-foto-1024 {
    display: block;
    transition: all 300ms ease-in-out;
  }
}
@media (min-width: 1547px) and (max-width: 1919px) {
  .questionnaire form {
    margin-left: auto;
    margin-right: auto;
    width: 1386px;
  }
  .containers-reviews {
    width: 1386px;
  }
  .storie-image {
    width: 1386px;
  }
}
@media (min-width: 741px) and (max-width: 1023px) {
  .category-images {
    width: 654px;
  }
  .questionnaire form {
    margin-left: auto;
    margin-right: auto;
    width: 654px;
  }
  .containers-reviews {
    width: 654px;
  }
  .storie-image {
    width: 654px;
  }
  .storie-image .footer-foto-1920 {
    display: none;
  }
  .footer-foto-1024 {
    display: block;
    transition: all 300ms ease-in-out;
  }
}
@media (max-width: 740px) {
  .category-images {
    width: 360px;
  }
  .questionnaire form {
    margin-left: auto;
    margin-right: auto;
    width: 318px;
  }
  .containers-reviews {
    width: 318px;
  }
  .storie-image .footer-foto-1024, .storie-image .footer-foto-1920 {
    display: none;
  }
  .storie-image .footer-foto-360 {
    display: block;
  }
  .storie-image {
    width: 318px;
    height: 455px;
    border-radius: 20px;
  }
  .storie-image:not(:first-child) {
    margin-top: 20px;
  }
  .stories-image .footer-foto-360 {
    border-radius: 20px;
  }
  .storie-image:after {
    content: "";
    border-radius: 20px;
  }
  .storie-image h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
    margin: 30px;
    width: 50%;
  }
  .travel-stories-image {
    margin-top: 50px;
  }
  .advantages {
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
    margin: 106px 20px 30px 30px;
  }
  .advantages li {
    font-size: 16px;
  }
  .advantages li::before {
    content: "·";
    font-size: 16px;
    vertical-align: text-top;
    line-height: 20px;
    padding: 0.55em;
  }
  .storie-image-bottom {
    padding: 0px 30px 30px 30px;
  }
  .storie-image-bottom button {
    font-size: 16px;
    line-height: 142%;
  }
}/*# sourceMappingURL=index.css.map */