@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html, body {
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
  background-color: #F9F7F4;
}

a {
  text-decoration: none;
}

button, input, textarea {
  cursor: pointer;
  transition: all 300ms ease-in;
}

ul {
  list-style-type: none;
}

.subtitle-section {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
}
@media (width <= 919px) {
  .subtitle-section {
    font-size: 23px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}

#choosing-tour, #questionnaire, #reviews, #travel-stories {
  transition: all 200ms ease-in;
}

.header-block {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header-photo.png") no-repeat center center;
  background-size: cover;
}
.header-block__menu {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 88px;
  padding-right: 19.58%;
  padding-left: 19.58%;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  transform: translate(-50%);
}
@media (width >= 920px) and (width <= 1399px) {
  .header-block__menu {
    padding-right: 5.6%;
    padding-left: 5.6%;
  }
}
@media (width <= 919px) {
  .header-block__menu {
    padding-right: 5.6%;
    padding-left: 5.6%;
    font-size: 16px;
  }
}
.header-block__menu_scroll {
  position: fixed;
  top: 0;
  z-index: 2;
  align-items: center;
  width: 100%;
  padding-right: 19.58%;
  padding-left: 19.58%;
  color: #1B1F2B;
  background: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(27px);
          backdrop-filter: blur(27px);
}
@media (width >= 920px) and (width <= 1399px) {
  .header-block__menu_scroll {
    z-index: 2;
    width: 100%;
    padding-right: 5.6%;
    padding-left: 5.6%;
  }
}
@media (width <= 919px) {
  .header-block__menu_scroll {
    z-index: 2;
    width: 100%;
    padding-right: 5.6%;
    padding-left: 5.6%;
  }
}

.your-tur__img {
  fill: #FFF;
}
@media (width <= 919px) {
  .your-tur__img {
    width: 133px;
  }
}
.your-tur__img_scrool {
  fill: #1B1F2B;
}

@media (width <= 919px) {
  .site-sections {
    display: none;
  }
}
.site-sections__list-site-sections {
  display: flex;
  justify-content: space-between;
  width: 468px;
}
@media (width >= 920px) and (width <= 1399px) {
  .site-sections__list-site-sections {
    width: 408px;
  }
}
.site-sections__section-link {
  position: relative;
  color: #FFF;
}
@media (width >= 920px) {
  .site-sections__section-link:hover::before {
    width: 100%;
  }
  .site-sections__section-link::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    content: "";
    border-bottom: 1px solid #FFF;
    transition: all 200ms ease-in;
  }
}
@media (width >= 920px) {
  .site-sections__section-link_scrool::before {
    content: "";
    border-bottom: 1px solid #000;
  }
}

.phone-number__reference-number {
  position: relative;
  color: #FFF;
}
.phone-number__reference-number_scrool {
  color: #000;
}

.title {
  width: 768px;
  margin-right: auto;
  margin-left: auto;
  color: #FFF;
}
@media (width <= 919px) {
  .title {
    width: 100%;
    max-width: 550px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.title__text {
  padding-top: 210px;
  font-size: 96px;
  font-weight: 700;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
}
@media (width <= 919px) {
  .title__text {
    padding-top: 140px;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}

.introduction {
  width: 562px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 142%;
  color: #FFF;
  text-align: center;
}
@media (width >= 920px) and (width <= 1399px) {
  .introduction {
    width: 43.16%;
    max-width: 500px;
  }
}
@media (width <= 919px) {
  .introduction {
    width: 86.11%;
    margin-top: 40px;
    font-size: 16px;
  }
}

.findtour {
  padding-bottom: 116px;
  margin-top: 46px;
  font-size: 17px;
  text-align: center;
}
@media (width <= 919px) {
  .findtour {
    padding-bottom: 52px;
    margin-top: 40px;
  }
}
.findtour__search-button {
  width: 118px;
  height: 38px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  background-color: #FFF;
  border: none;
  border-radius: 10px;
}
@media (width >= 920px) {
  .findtour__search-button:hover {
    color: #FFF;
    background-color: #EFA501;
    border-radius: 10px;
  }
  .findtour__search-button:active {
    color: #1B1F2B;
    background-color: #F8E6BE;
    border-radius: 10px;
  }
}
@media (width <= 919px) {
  .findtour__search-button {
    width: 114px;
    height: 33px;
    font-size: 16px;
  }
}

.main-block__section-block {
  padding-top: 135px;
}
@media (width <= 919px) {
  .main-block__section-block {
    padding-top: 75px;
  }
}
.main-block__email {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 771px;
  margin-top: 135px;
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;
}
@media (width <= 919px) {
  .main-block__email {
    width: 75.29%;
  }
}
@media (width <= 530px) {
  .main-block__email {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
  }
}

.section-name {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (width <= 919px) {
  .section-name {
    width: 100%;
  }
}
.section-name__title {
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%;
  text-align: center;
}
@media (width <= 919px) {
  .section-name__title {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}
.section-name__description {
  width: 418px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
  text-align: center;
}
@media (width <= 919px) {
  .section-name__description {
    width: 318px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    text-align: center;
  }
}

.tours-block__list {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}
@media (width <= 919px) {
  .tours-block__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 30px;
  }
}
@media (width <= 919px) {
  .tours-block__point {
    line-height: 142%;
  }
}
.tours-block__link {
  position: relative;
  font-size: 23px;
  font-weight: 700;
  color: #1B1F2B;
  transition: all 200ms ease-in;
}
@media (width >= 920px) {
  .tours-block__link:hover::before {
    width: 100%;
  }
  .tours-block__link::before {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0%;
    height: 2px;
    content: "";
    background-color: #1B1F2B;
    transition: all 200ms ease-in;
  }
  .tours-block__link:focus::before {
    width: 100%;
    background-color: #EFA501;
  }
  .tours-block__link:focus {
    color: #EFA501;
  }
}
@media (width <= 919px) {
  .tours-block__link {
    font-size: 16px;
  }
  .tours-block__link::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    content: "";
    background-color: #1B1F2B;
    transition: all 200ms ease-in;
  }
  .tours-block__link:focus {
    font-size: 16px;
    font-weight: 700;
    line-height: 142%;
  }
}

.tour-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
  width: 1170px;
  margin-top: 107px;
  margin-right: auto;
  margin-left: auto;
}
@media (width >= 920px) and (width <= 1399px) {
  .tour-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    width: 89.65%;
    overflow: hidden;
  }
}
@media (width <= 919px) {
  .tour-cards {
    flex-wrap: wrap;
    gap: 18px;
    justify-content: space-between;
    width: 88.61%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }
}

.tour-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 531px;
  overflow: hidden;
  border-radius: 50px;
}
.tour-card::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 50px;
}
@media (width >= 920px) {
  .tour-card:hover {
    cursor: pointer;
  }
  .tour-card:hover .tour-card__photo {
    transition: all 300ms ease-in;
    transform: scale(1.3);
  }
  .tour-card:hover .detailed-button {
    background: #286562;
  }
}
@media (width >= 920px) and (width <= 1399px) {
  .tour-card {
    width: 48.9%;
  }
}
@media (width <= 919px) {
  .tour-card {
    width: 48%;
    height: 318px;
    border-radius: 20px;
  }
  .tour-card::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 20px;
  }
}
@media (width <= 530px) {
  .tour-card {
    width: 100%;
  }
}
.tour-card__photo {
  position: absolute;
  width: auto;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.tour-card__photo_vertical {
  position: absolute;
  width: 100%;
  height: auto;
}
.tour-card__conntent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 531px;
  padding: 50px 80px 50px 50px;
}
@media (width >= 920px) and (width <= 1399px) {
  .tour-card__conntent {
    padding: 50px;
  }
}
@media (width <= 919px) {
  .tour-card__conntent {
    height: 318px;
    padding: 25px;
  }
}
.tour-card__name {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-end;
}
@media (width <= 919px) {
  .tour-card__name {
    gap: 13px;
  }
}
.tour-card__subtitle-section {
  z-index: 1;
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  font-style: normal;
  color: #FFF;
}
@media (width <= 919px) {
  .tour-card__subtitle-section {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.92px;
  }
}
.tour-card__cost {
  z-index: 1;
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  color: #FFF;
  letter-spacing: -0.01em;
}
@media (width <= 919px) {
  .tour-card__cost {
    font-size: 16px;
  }
}
.tour-card__detail {
  z-index: 1;
  display: flex;
  margin-bottom: -7px;
  margin-left: -20px;
  font-size: 23px;
  font-weight: 700;
  color: #FFF;
}

.questionnaire__field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
  padding: 70px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  background: #FFF;
  border-radius: 50px;
}
@media (width >= 920px) and (width <= 1399px) {
  .questionnaire__field {
    width: 89.65%;
    padding: 60px;
  }
}
@media (width <= 919px) {
  .questionnaire__field {
    width: 88.33%;
    padding: 20px;
    margin-top: 40px;
    border-radius: 30px;
  }
}

.data-field {
  width: 500px;
  margin-bottom: 33px;
  font-size: 20px;
  color: #1B1F2B;
}
@media (width >= 920px) and (width <= 1399px) {
  .data-field {
    width: 48.75%;
  }
}
@media (width <= 919px) {
  .data-field {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 16px;
  }
}
.data-field__name {
  display: block;
}
.data-field__data-entry {
  width: 100%;
  padding: 20px;
  margin-top: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  color: #1B1F2B;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
}
.data-field__data-entry::-moz-placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  color: #A6A6A6;
}
.data-field__data-entry::placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  color: #A6A6A6;
}
@media (width >= 920px) {
  .data-field__data-entry:hover {
    background: #F4F0E9;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
  }
  .data-field__data-entry:focus {
    background: #F4F0E9;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
  }
}
@media (width <= 919px) {
  .data-field__data-entry {
    height: 43px;
    padding: 10px;
  }
  .data-field__data-entry::-moz-placeholder {
    font-size: 16px;
  }
  .data-field__data-entry::placeholder {
    font-size: 16px;
  }
}

.dropdown {
  position: relative;
}
@media (width <= 919px) {
  .dropdown {
    padding: 0;
    margin-top: 8px;
    font-size: 16px;
    line-height: 142%;
  }
}
.dropdown__button {
  width: 100%;
  padding: 20px;
  margin-top: 8px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  color: #A6A6A6;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  transition: all 200ms ease-in;
}
@media (width >= 920px) {
  .dropdown__button:hover {
    background: #F4F0E9;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
  }
  .dropdown__button:active {
    background: #F4F0E9;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
  }
}
@media (width <= 919px) {
  .dropdown__button {
    height: 46px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 10px;
    font-size: 16px;
  }
}
.dropdown__button_active {
  color: #1B1F2B;
}
.dropdown__arrow {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 26px;
  height: 26px;
  pointer-events: none;
  fill: #1B1F2B;
}
@media (width <= 919px) {
  .dropdown__arrow {
    top: 12px;
    right: 10px;
  }
}
.dropdown__list {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  overflow: hidden;
  color: #1B1F2B;
  text-align: left;
  list-style-type: none;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
}
.dropdown__list_visible {
  z-index: 1;
  display: block;
}
.dropdown__list-item {
  padding: 20px;
  cursor: pointer;
  border: 1px solid #F4F0E9;
  border-bottom: 1px solid #F4F0E9;
}
@media (width >= 920px) {
  .dropdown__list-item:hover {
    background: #F4F0E9;
  }
}
@media (width <= 919px) {
  .dropdown__list-item {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 10px;
  }
}
.dropdown__refund {
  padding: 20px;
  color: #A6A6A6;
  cursor: pointer;
  border: 1px solid #F4F0E9;
  border-bottom: 1px solid #F4F0E9;
}

.comment {
  width: 100%;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
}
@media (width <= 919px) {
  .comment {
    margin-top: 4px;
    font-size: 16px;
  }
}
.comment__field {
  width: 100%;
  height: 152px;
  padding: 1%;
  margin-top: 8px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 142%;
  resize: none;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
}
@media (width >= 920px) {
  .comment__field:hover {
    background: #F4F0E9;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
  }
  .comment__field:focus {
    background: #F4F0E9;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
  }
}
@media (width <= 919px) {
  .comment__field {
    height: 132px;
  }
}

.radio-group {
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  line-height: 142%;
}
@media (width <= 919px) {
  .radio-group {
    margin-top: 22px;
    font-size: 16px;
  }
}
.radio-group__buttons {
  display: flex;
  margin-top: 7px;
}
.radio-group__block {
  display: flex;
  justify-content: space-between;
}
.radio-group__block:not(:first-child) {
  margin-left: 31px;
}
.radio-group__custom-button {
  display: none;
  margin-left: 11px;
}
.radio-group__custom-button:checked + .radio-group__button::before {
  background-image: url("../img/buttons/radio-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
@media (width <= 919px) {
  .radio-group__custom-button:checked + .radio-group__button::before {
    background-image: url("../img/buttons/radio-button-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.radio-group__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.radio-group__button::before {
  box-sizing: border-box;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 11px;
  cursor: pointer;
  content: "";
  border: 2px solid #1B1F2B;
  border-radius: 50%;
}
@media (width <= 919px) {
  .radio-group__button::before {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    content: "";
  }
}

.agreements {
  width: 100%;
  margin-top: 34px;
  font-size: 20px;
}
@media (width <= 919px) {
  .agreements {
    display: flex;
    margin-top: 29px;
  }
}
.agreements__custom-button {
  display: none;
}
.agreements__custom-button:checked + .agreements__button::before {
  background-image: url("../img/buttons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
@media (width <= 919px) {
  .agreements__custom-button:checked + .agreements__button::before {
    background-image: url("../img/buttons/checkbox-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.agreements__button {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 142%;
  color: #A6A6A6;
  letter-spacing: -0.01em;
}
.agreements__button::before {
  box-sizing: border-box;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 19px;
  cursor: pointer;
  content: "";
  border: 2px solid #1B1F2B;
  border-radius: 5px;
}
@media (width >= 920px) and (width <= 1399px) {
  .agreements__button::before {
    margin-right: 11px;
    content: "";
  }
}
@media (width <= 919px) {
  .agreements__button {
    font-size: 16px;
    letter-spacing: 0;
  }
  .agreements__button::before {
    min-width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: auto;
    content: "";
    border-radius: 4px;
  }
}
.agreements__contract-reference {
  padding: 0.25em;
  color: #1B1F2B;
}
@media (width >= 920px) {
  .agreements__contract-reference:hover {
    color: black;
    text-decoration: underline;
    transition: all 300ms ease-in;
  }
  .agreements__contract-reference:active {
    color: #286562;
    text-decoration-line: underline;
  }
}

.questionnaire-buttons {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 30px;
}
@media (width <= 919px) {
  .questionnaire-buttons {
    flex-wrap: wrap;
    width: 278px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
.questionnaire-buttons__button {
  width: 235px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 142%;
  border: none;
  border-radius: 10px;
}
@media (width <= 919px) {
  .questionnaire-buttons__button {
    width: 133px;
    padding-top: 12;
    padding-bottom: 12px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
  }
}
.questionnaire-buttons__button_search {
  color: #FFF;
  cursor: pointer;
  background-color: #286562;
}
@media (width >= 920px) {
  .questionnaire-buttons__button_search:hover {
    color: #FFF;
    background-color: #3B7E7B;
  }
  .questionnaire-buttons__button_search:active {
    background-color: #627F7E;
  }
}
@media (width <= 919px) {
  .questionnaire-buttons__button_search {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.questionnaire-buttons__button_reset {
  color: #286562;
  cursor: pointer;
  background-color: #E0F0E5;
}
@media (width >= 920px) {
  .questionnaire-buttons__button_reset:hover {
    background-color: #F1F3F2;
  }
  .questionnaire-buttons__button_reset:active {
    background-color: #D9DFDB;
  }
}

.reviews__block {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
@media (width >= 920px) and (width <= 1399px) {
  .reviews__block {
    width: 89.65%;
  }
}
@media (width <= 919px) {
  .reviews__block {
    flex-wrap: wrap;
    gap: 18px;
    width: 88.33%;
    margin-top: 50px;
  }
}

.review-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;
  padding: 40px;
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  background: #F4F0E9;
  border-radius: 50px;
}
@media (width >= 920px) and (width <= 1399px) {
  .review-block {
    width: 49.02%;
  }
}
@media (width <= 919px) {
  .review-block {
    width: 100%;
    padding: 20px;
    padding-top: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 144%;
    border-radius: 20px;
  }
}
@media (width <= 919px) {
  .review-block__text {
    width: 90%;
    margin-top: 20px;
    font-size: 16px;
  }
}
.review-block__user-block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 145px;
}
@media (width <= 919px) {
  .review-block__user-block {
    width: 100%;
    height: 115px;
    padding-right: 20px;
  }
}
.review-block__user-block-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
}
@media (width <= 919px) {
  .review-block__user-block-name {
    height: 59px;
  }
}
.review-block__photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.review-block__tour-name {
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  color: #A6A6A6;
  letter-spacing: -0.01em;
}
@media (width <= 919px) {
  .review-block__tour-name {
    width: 100%;
    margin-top: 0;
    font-size: 16px;
  }
}

.travel-photos__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
@media (width <= 919px) {
  .travel-photos__container {
    row-gap: 18px;
    margin-top: 50px;
  }
}

.row-photos {
  display: grid;
  grid-template-rows: 300px;
  justify-content: space-between;
  padding-right: 1.56%;
  padding-left: 1.56%;
}
.row-photos:nth-child(1) {
  grid-template-columns: repeat(4, 23.79%);
}
@media (width >= 920px) and (width <= 1399px) {
  .row-photos:nth-child(1) {
    grid-template-columns: repeat(3, 31.98%);
  }
}
@media (width <= 919px) {
  .row-photos:nth-child(1) {
    grid-template-columns: repeat(2, 47.18%);
  }
}
.row-photos:nth-child(2) {
  grid-template-columns: repeat(5, 18.77%);
}
@media (width >= 920px) and (width <= 1399px) {
  .row-photos:nth-child(2) {
    grid-template-columns: repeat(4, 23.48%);
  }
}
@media (width <= 919px) {
  .row-photos:nth-child(2) {
    grid-template-columns: repeat(3, 31.24%);
  }
}
.row-photos:nth-child(3) {
  grid-template-columns: repeat(4, 23.79%);
}
@media (width >= 920px) and (width <= 1399px) {
  .row-photos:nth-child(3) {
    grid-template-columns: repeat(3, 31.98%);
  }
}
@media (width <= 919px) {
  .row-photos:nth-child(3) {
    grid-template-columns: repeat(2, 48.43%);
  }
}
@media (width >= 920px) and (width <= 1399px) {
  .row-photos {
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-right: 1.95%;
    padding-left: 1.95%;
  }
}
@media (width <= 919px) {
  .row-photos {
    padding-right: 5.83%;
    padding-left: 5.83%;
  }
}
@media (width <= 530px) {
  .row-photos {
    grid-template-rows: 110px;
  }
}
.row-photos__travel-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 50px;
}
@media (width <= 919px) {
  .row-photos__travel-photo {
    border-radius: 20px;
  }
}
@media (width >= 920px) and (width <= 1399px) {
  .row-photos__first-row:nth-child(2), .row-photos__third-row:nth-child(4), .row-photos__second-row:nth-child(3) {
    display: none;
  }
}
@media (width <= 919px) {
  .row-photos__first-row:nth-child(2), .row-photos__third-row:nth-child(4), .row-photos__second-row:nth-child(3) {
    display: none;
  }
}
@media (width <= 919px) {
  .row-photos__first-row:nth-child(3), .row-photos__third-row:nth-child(3), .row-photos__second-row:nth-child(2) {
    display: none;
  }
}
@media (width >= 920px) and (width <= 1399px) {
  .row-photos__first-row:not(:nth-child(3)) .row-photos__travel-photo {
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media (width <= 919px) {
  .row-photos__first-row:not(:nth-child(3)) .row-photos__travel-photo {
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.travel-stories__block {
  margin-top: 98px;
}
@media (width <= 919px) {
  .travel-stories__block {
    margin-top: 50px;
  }
}

.travel-history {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1170px;
  height: 567px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border-radius: 50px;
}
.travel-history::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 50px;
}
.travel-history:not(:first-child) {
  margin-top: 50px;
}
@media (width >= 920px) {
  .travel-history:hover {
    cursor: pointer;
  }
  .travel-history:hover .detailed-button {
    background: #286562;
  }
  .travel-history:hover .travel-history__foto {
    transition: all 300ms ease-in;
    transform: scale(1.2);
  }
}
@media (width >= 920px) and (width <= 1399px) {
  .travel-history {
    width: 89.65%;
  }
}
@media (width <= 919px) {
  .travel-history {
    display: flex;
    justify-content: center;
    width: 88.33%;
    height: 455px;
    border-radius: 20px;
  }
  .travel-history:not(:first-child) {
    margin-top: 20px;
  }
  .travel-history::after {
    content: "";
    border-radius: 20px;
  }
}
.travel-history__foto {
  position: absolute;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 300ms ease-in-out;
}
@media (width <= 919px) {
  .travel-history__foto {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}
.travel-history__conntent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 567px;
  padding: 60px 60px 50px;
}
@media (width <= 919px) {
  .travel-history__conntent {
    height: 455px;
    padding: 30px 30px 22px;
  }
}
.travel-history__name {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.travel-history__subtitle-section {
  z-index: 1;
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  font-style: normal;
  color: #FFF;
}
@media (width <= 919px) {
  .travel-history__subtitle-section {
    width: 50%;
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}
.travel-history__description {
  z-index: 1;
  width: 555px;
  margin-top: 38px;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  color: #FFF;
}
@media (width <= 919px) {
  .travel-history__description {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    color: #FFF;
  }
}
.travel-history__advantages {
  z-index: 1;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  color: #FFF;
}
@media (width <= 919px) {
  .travel-history__advantages {
    width: 100%;
    margin-top: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    color: #FFF;
  }
}
.travel-history__advantage {
  font-size: 20px;
  list-style: none;
}
.travel-history__advantage::before {
  padding: 0.35em;
  font-size: 30px;
  line-height: 20px;
  vertical-align: text-top;
  content: "·";
}
@media (width <= 919px) {
  .travel-history__advantage {
    font-size: 16px;
  }
  .travel-history__advantage::before {
    padding: 0.55em;
    font-size: 16px;
    line-height: 20px;
    vertical-align: text-top;
    content: "·";
  }
}
.travel-history__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.travel-history__detail {
  z-index: 1;
  margin-left: -20px;
}
.travel-history__links-social-networks {
  z-index: 1;
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}
@media (width <= 919px) {
  .travel-history__links-social-networks {
    display: none;
  }
}
.travel-history__social-network-link {
  position: relative;
  z-index: 1;
  font-style: normal;
  transition: all 200ms ease-in;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  color: #FFF;
}
@media (width >= 920px) {
  .travel-history__social-network-link::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    content: "";
    border-bottom: 1px solid #FFF;
    transition: all 200ms ease-in;
  }
  .travel-history__social-network-link:hover::before {
    width: 100%;
  }
  .travel-history__social-network-link:active {
    color: #EFA501;
  }
  .travel-history__social-network-link:active::before {
    width: 100%;
    border-color: #EFA501;
  }
}

.main-block .detailed-button {
  z-index: 1;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 7px 20px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  color: #FFF;
  background-color: transparent;
  border: none;
  border-radius: 50px;
}
@media (width >= 920px) {
  .main-block .detailed-button:active {
    background-color: #EFA501;
  }
}
@media (width <= 919px) {
  .main-block .detailed-button {
    font-size: 16px;
    line-height: 142%;
  }
}

.email__photo {
  width: 370px;
  border-radius: 50px;
}
@media (width <= 919px) {
  .email__photo {
    width: 48.12%;
    min-width: 220px;
    border-radius: 20px;
  }
}
@media (width <= 530px) {
  .email__photo {
    width: 130px;
    min-width: auto;
    border-radius: 20px;
  }
}
.email__feedback {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 371px;
}
@media (width <= 919px) {
  .email__feedback {
    width: 48.12%;
  }
}
@media (width <= 530px) {
  .email__feedback {
    width: 88.33%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
.email__subtitle-section {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
}
@media (width <= 919px) {
  .email__subtitle-section {
    font-size: 23px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}
@media (width <= 530px) {
  .email__subtitle-section {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}
.email__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  color: #A6A6A6;
}
@media (width <= 530px) {
  .email__text {
    width: 95%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 142%;
  }
}
.email__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  color: #1B1F2B;
}
@media (width >= 920px) {
  .email__link:hover {
    color: black;
    text-decoration: underline;
    transition: all 300ms ease-in;
  }
  .email__link:active {
    color: #286562;
    text-decoration-line: underline;
  }
}
@media (width <= 530px) {
  .email__link {
    font-size: 16px;
    line-height: 142%;
  }
}

.footer-container {
  margin-top: 135px;
  background: #F4F0E9;
}
@media (width <= 919px) {
  .footer-container {
    margin-top: 75px;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60.83%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
@media (width >= 920px) and (width <= 1399px) {
  .bottom {
    width: 918px;
  }
}
@media (width <= 919px) {
  .bottom {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 21px;
  }
}
.bottom__description {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  color: #A6A6A6;
}
@media (width <= 919px) {
  .bottom__description {
    font-size: 16px;
  }
}
.bottom__list-social-networks {
  display: flex;
}
@media (width <= 919px) {
  .bottom__list-social-networks {
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
  }
}
.bottom__social-network-item {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  list-style: none;
}
@media (width <= 919px) {
  .bottom__social-network-item {
    gap: 5px;
    margin-top: 7px;
    margin-left: 15px;
  }
  .bottom__social-network-item:first-child {
    margin-left: 0;
  }
}
.bottom__social-network-icon {
  width: 26px;
  height: 26px;
}
@media (width <= 919px) {
  .bottom__social-network-icon {
    width: 20px;
    height: 20px;
  }
}
.bottom__social-networ-link {
  position: relative;
  display: inline-block;
  color: #1B1F2B;
}
@media (width >= 920px) {
  .bottom__social-networ-link::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    content: "";
    border-bottom: 1px solid #000;
    transition: all 200ms ease-in;
  }
  .bottom__social-networ-link:hover::before {
    width: 100%;
  }
}
@media (width <= 919px) {
  .bottom__social-networ-link {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 142%;
  }
}/*# sourceMappingURL=index.css.map */