$bg-color: #F9F7F4;
$dark-color: #1B1F2B;
$black-color: #000;
$white-color: #FFF;
$light-grey-color: #F4F0E9;
$grey-color: #A6A6A6;
$green-color: #286562;
$light-green-color: #E0F0E5;
$orange-color: #EFA501