$light-grey-color: #F4F0E9;
$grey-color: #A6A6A6;
$dark-color: #1B1F2B;

footer {
    margin-top: 135px;
    background: $light-grey-color;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60.83%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

.list-social-networks-bottom {
    display: flex;
}

.description-bottom {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: $grey-color;
}   

.social-network-item {
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap: 8px;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
}

.network{
    width: 26px;
    height: 26px;
}

.social-networ-bottom {
    position: relative;
    display:inline-block;
    color: $dark-color;
}
