.footer-container {
    margin-top: 135px;
    background: $light-grey-color;

    @include tablet {
        margin-top: 75px;
    }
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60.83%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;

    @include dekstop {
        width: 918px;
    }

    @include tablet {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-top: 21px;
    }

    &__description{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 142%;
        color: $grey-color;
    
        @include tablet {
            font-size: 16px;
        }
    } 

    &__list-social-networks{
        display: flex;
    
        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
            width: 95%;
        }
    }

    &__social-network-item {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-left: 25px;
        font-size: 20px;
        font-weight: 400;
        line-height: 142%;
        list-style: none;
    
        @include tablet {
            gap: 5px;
            margin-top: 7px;
            margin-left: 15px;
    
            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__social-network-icon {
        width: 26px;
        height: 26px;

        @include tablet {
            width: 20px;
            height: 20px;
        }
    }

    &__social-networ-link {
        position: relative;
        display:inline-block;
        color: $dark-color;
    
        @include event-selectors {
            &::before {
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                content: '';
                border-bottom: 1px solid $black-color;
                transition: all 300ms ease-in;
            }
    
            &:hover::before {
                width: 100%;
            }
        }
    
        @include tablet {
            display: flex;
            justify-content: center;
            font-size: 16px;
            line-height: 142%;
        }
    }
}