$white-color: #FFFFFF;
$dark-color: #1B1F2B;
$black-color: #000000;


.header-container {
    background-image: url(../img/header-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu {
    z-index: 1;
    position: absolute;
    left:50%;
    display: flex; 
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 19.58%;
    padding-right: 19.58%;
    font-weight: 400;
    font-size: 20px;
    color: $white-color;
    transform: translate(-50%);
}

.menu_scroll {
    z-index: 2;
    position:fixed;
    align-items: center;
    top:0;
    width: 100%;
    padding-left: 19.58%;
    padding-right: 19.58%;
    background: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(27px);
    color: $dark-color;
}

.header-logo {
    fill: $white-color;
}

.header-logo__scrool  {
    fill: $dark-color;
}

.logo-nav {
    display: flex; 
    justify-content:space-between;
    width: 468px;
}

.nav-link, .phone-number{
    position: relative;
    color: $white-color;
}

.phone-number__scrool {
    color: $black-color;
}

.title {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    color: $white-color;
}

.header-title {
    text-align: center;
    padding-top: 210px;
    font-size: 96px;
    font-weight: 700;
    line-height: 109%;
    letter-spacing: 0.02em;
}

.introduction {
    text-align: center;
    width: 562px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    line-height: 142%;
    font-size: 20px;
    color: $white-color;
}

.findtour {
    text-align: center;
    margin-top: 46px;
    padding-bottom: 116px;
    font-size: 17px;
}

.tour-search-button {
    cursor: pointer;
    text-align: center;
    width: 118px;
    height: 38px;
    border-radius: 10px;
    border: none;
    background-color: $white-color;
    font-size: 17px;
}