.main-block {
    &__section-block {
        padding-top: 135px;
    
        @include tablet {
            padding-top: 75px;
        }
    }
    
    &__email {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        width: 771px;
        margin-top: 135px;
        margin-right: auto;
        margin-left: auto;
        word-wrap: break-word;
    
        @include tablet {
            width: 75.29%;
        }
    
        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-top: 80px; 
        }
    }
}

.section-name {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include tablet {
        width: 100%;
    }

    &__title {
        font-size: 59px;
        font-style: normal;
        font-weight: 700;
        line-height: 124%;
        text-align: center;

    @include tablet {
        font-size: 34px;
        line-height: 112%;
        letter-spacing: 0.02em;
        }
    }

    &__description{
        width: 418px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
        line-height: 142%;
        color: $grey-color;
        text-align: center;
    
        @include tablet {
            width: 318px;
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
            font-size: 16px;
            text-align: center;
        }
    }
}

.tours-block {
    &__list {
        display: flex; 
        justify-content:space-between;
        width: 700px;
        margin-top: 35px;
        margin-right: auto;
        margin-left: auto;

        @include tablet {
            display: flex; 
            flex-wrap: wrap;
            gap: 10px;
            justify-content:center;
            width: 100%;
            height: auto;
            padding-right: 40px;
            padding-left: 40px;
            margin-top: 30px;
        }
    }

    &__point {
        @include tablet {
            line-height: 142%;
        }
    }   
    
    &__link {
        position: relative;
        font-size: 23px;
        font-weight: 700;
        color: $dark-color;
        transition: all 200ms ease-in;

        @include event-selectors {
            &::before {
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 0%;
                height: 2px;
                content: '';
                background-color: $dark-color;
                transition: all 200ms ease-in;
            }

            &:hover::before {
                width: 100%;
            }

            &:focus::before {
                width: 100%;
                background-color: $orange-color;
            }

            &:focus{
                color: $orange-color;
            }
        }

        @include tablet {
            font-size: 16px;

            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 0%;
                content: '';
                background-color: $dark-color;
                transition: all 200ms ease-in;
            }

            &:focus {
                font-size: 16px;
                font-weight: 700;
                line-height: 142%;
            }
        }
    }
}

.tour-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
    width: 1170px;
    margin-top: 107px;
    margin-right: auto;
    margin-left: auto;

    @include dekstop {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        width: 89.65%;
        overflow: hidden;
    }

    @include tablet {
        flex-wrap: wrap;
        gap: 18px;
        justify-content: space-between;
        width: 88.61%;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }
}

.tour-card{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 531px;
    overflow: hidden;
    border-radius: 50px;

    &::after {
    position:absolute; top:0;
    left:0;
    width:100%; 
    height:100%;
        content:'';
    background: linear-gradient(360deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 6%) 48.44%, rgb(0 0 0 / 50%) 100%);
    border-radius: 50px;
    }

    @include event-selectors {
        &:hover {
            cursor: pointer;
        }

        &:hover &__photo{
            transition: all 300ms ease-in;
            transform: scale(1.3);
        }

        &:hover .detailed-button{
            background: $green-color;
        }
    }

    @include dekstop {
        width: 48.9%;
    }

    @include tablet {
        width: 48%;
        height: 318px;
        border-radius: 20px;

        &::after {
            position:absolute; 
            top:0;
            left:0;
            width:100%; 
            height:100%;
            content:'';
            background: linear-gradient(360deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 6%) 48.44%, rgb(0 0 0 / 50%) 100%);
            border-radius: 20px;
        }
    }

    @include mobile {
        width: 100%;
    }

    &__photo {
        position: absolute;
        width: auto;
        height: 100%; 
        transition: all 300ms ease-in-out;
    }   

    &__photo_vertical {
        position: absolute;
        width: 100%;
        height: auto;
    }

    &__conntent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: 531px;
        padding: 50px 80px 50px 50px;

        @include dekstop {
            padding: 50px;
        }

        @include tablet{
            height: 318px;
            padding: 25px;
        }
    }

    &__name {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        align-self: stretch;
        justify-content: flex-end;

        @include tablet {
            gap: 13px;
        }
    }

    &__subtitle-section {
        z-index: 1;

        @include subtitle-style;

        font-style: normal;
        color: $white-color;

        @include tablet {
            font-size: 23px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.92px;
        }
    }

    &__cost {
        z-index: 1;
        font-size: 17px;
        font-weight: 400;
        line-height: 142%;
        color: $white-color;
        letter-spacing: -0.01em;

        @include tablet {
            font-size: 16px;
        }
    }

    &__detail {
        z-index: 1;
        display: flex;
        margin-bottom: -7px;
        margin-left: -20px;
        font-size: 23px;
        font-weight: 700;
        color: $white-color;
    }    
}

.questionnaire {
    &__field {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1170px;
        padding: 70px;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        background: $white-color;
        border-radius: 50px;

        @include dekstop {
            width: 89.65%;
            padding: 60px;
        }

        @include tablet {
            width: 88.33%;
            padding: 20px;
            margin-top: 40px;
            border-radius: 30px;
        }
    }
}

.data-field {
    width: 500px;
    margin-bottom: 33px;
    font-size: 20px;
    color: $dark-color;

    @include dekstop {
        width: 48.75%;
    }

    @include tablet {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 30px;
        font-size: 16px;
    }
    
    &__name {
        display: block;
    }

    &__data-entry {
        width: 100%;
        padding: 20px;
        margin-top: 8px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 142%;
        color: $dark-color;
        background: $bg-color;
        border: 1px solid $light-grey-color;
        border-radius: 10px;  
    
        &::placeholder {
            font-family: Roboto, Arial, sans-serif;
            font-style: normal;
            color: $grey-color;
        }
    
        @include event-selectors {
            &:hover {
                background: $light-grey-color;
                border: 1px solid $light-grey-color;
                border-radius: 10px;
            }
    
            &:focus {
                background: $light-grey-color;
                border: 1px solid $grey-color;
                border-radius: 10px;
            }
        }
    
        @include tablet {
            height: 43px;
            padding: 10px;
    
            &::placeholder {
                font-size: 16px;
            }
        }
    }
}

.dropdown {
    position: relative;
    
    @include tablet {
        padding: 0;
        margin-top: 8px;
        font-size: 16px;
        line-height: 142%;
    }

    &__button {
        width: 100%;
        padding: 20px;
        margin-top: 8px;
        font-family: Roboto, Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 142%; 
        color: $grey-color;
        appearance: none;
        background: $bg-color;
        border: 1px solid $light-grey-color;
        border-radius: 10px;
        transition: all 200ms ease-in;

        @include  event-selectors {
            &:hover {
                background: $light-grey-color;
                border: 1px solid $light-grey-color;
                border-radius: 10px;
            }

            &:active {
                background: $light-grey-color;
                border: 1px solid $grey-color;
                border-radius: 10px;
            }
        }

        @include tablet {
            height: 46px;
            padding-top: 11.5px;
            padding-bottom: 11.5px;
            padding-left: 10px;
            font-size: 16px;
        }
    }

    &__button_active {
        color: $dark-color;
    }

    &__arrow {
        position: absolute;
        top: 25px;
        right: 20px;
        width: 26px;
        height: 26px;
        pointer-events: none;
        fill: $dark-color;

        @include tablet {
            top: 12px;
            right: 10px;
        }
    }

    &__list {
        position: absolute;
        z-index: 1;
        display: none;
        width: 100%;
        overflow: hidden;
        color: $dark-color;
        text-align: left;
        list-style-type: none;
        background: $bg-color;
        border: 1px solid $light-grey-color;
        border-radius: 10px;
    }

    &__list_visible {
        z-index: 1;
        display: block;
    }

    &__list-item {
        padding: 20px;
        cursor: pointer;
        border: 1px solid $light-grey-color;
        border-bottom: 1px solid $light-grey-color;

        @include event-selectors {
            &:hover {
                background: $light-grey-color;
            }
        }

        @include tablet {
            padding-top: 11.5px;
            padding-bottom: 11.5px;
            padding-left: 10px;
        }
    }

    &__refund {
        padding: 20px;
        color: $grey-color;
        cursor: pointer;
        border: 1px solid $light-grey-color;
        border-bottom: 1px solid $light-grey-color;
    }
}

.comment {
    width: 100%;
    font-size: 20px;
    line-height: 142%; 
    color: $dark-color;

    @include tablet {
        margin-top: 4px;
        font-size: 16px;
    }

    &__field {
        width: 100%;
        height: 152px;
        padding: 1%;
        margin-top: 8px;
        font-family: Roboto, Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        line-height: 142%;
        resize: none;
        background: $bg-color;
        border: 1px solid $light-grey-color;
        border-radius: 10px;

        @include event-selectors {
            &:hover {
                background: $light-grey-color;
                border: 1px solid $light-grey-color;
                border-radius: 10px;
            }

            &:focus {
                background: $light-grey-color;
                border: 1px solid $grey-color;
                border-radius: 10px;
            }
        }

        @include tablet {
            height: 132px;
        }
    }
}

.radio-group {
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    line-height: 142%; 

    @include tablet {
        margin-top: 22px;
        font-size: 16px;
    }

    &__buttons {
        display: flex;
        margin-top: 7px;
    }

    &__block {
        display: flex;
        justify-content:space-between;

        &:not(:first-child) {
            margin-left: 31px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content:space-between;

        &::before {
            box-sizing: border-box;
            display: inline-block;
            width: 26px;
            height: 26px;
            margin-right: 11px;
            cursor: pointer;
            content: "";
            border: 2px solid $dark-color;
            border-radius: 50%;
        }

        @include tablet {
            &::before {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                content: "";
            }
        }
    }

    &__custom-button {
        display: none;
        margin-left: 11px;

        &:checked + .radio-group__button::before {
            background-image: url("../img/buttons/radio-button.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }

        @include tablet {
            &:checked + .radio-group__button::before {
                background-image: url("../img/buttons/radio-button-mobile.svg");
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
}

.agreements {
    width: 100%;
    margin-top: 34px;
    font-size: 20px;

    @include tablet {
        display: flex;
        margin-top: 29px;
    }

    &__button {
        display: flex;
        align-items: center;
        font-size: 17px;
        line-height: 142%;
        color: $grey-color;
        letter-spacing: -0.01em;

        &::before {
            box-sizing: border-box;
            display: inline-block;
            width: 26px;
            height: 26px;
            margin-right: 19px;
            cursor: pointer;
            content: "";
            border: 2px solid $dark-color;
            border-radius: 5px;
        }

        @include dekstop {
            &::before {
                margin-right: 11px;
                content: "";
            }
        }

        @include tablet {
            font-size: 16px;
            letter-spacing: 0;

            &::before {
                min-width: 20px;
                height: 20px;
                margin-right: 10px;
                margin-bottom: auto;
                content: "";
                border-radius: 4px;
            }
        }
    }

    &__custom-button {
        display: none;

        &:checked + .agreements__button::before {
            background-image: url("../img/buttons/checkbox.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }

        @include tablet {
            &:checked + .agreements__button::before {
                background-image: url("../img/buttons/checkbox-mobile.svg");
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
    
    &__contract-reference{
        padding: 0.25em;
        color: $dark-color;
    
        @include event-selectors {
            &:hover {
                color: black;
                text-decoration: underline;
                transition: all 300ms ease-in;
            }
    
            &:active {
                color: $green-color;
                text-decoration-line: underline;
            }
        }
    }
}

.questionnaire-buttons {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 30px;

    @include tablet {
        flex-wrap: wrap;
        width: 278px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__button {
        width: 235px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        line-height: 142%;
        border: none;
        border-radius: 10px;

        @include tablet {
            width: 133px;
            padding-top: 12;
            padding-bottom: 12px;
            font-family: Roboto, Arial, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 142%;
        }
    }

    &__button_search {
        color: $white-color;
        cursor: pointer;
        background-color: $green-color;

        @include event-selectors {
            &:hover {
                color: $white-color;
                background-color: #3B7E7B;
            }

            &:active {
                background-color: #627F7E;
            }
        }

        @include tablet {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }    

    &__button_reset {
        color: $green-color;
        cursor: pointer;
        background-color: $light-green-color;

        @include event-selectors {
            &:hover {
                background-color: #F1F3F2;
            }

            &:active {
                background-color: #D9DFDB;
            }
        }
    }
}

.reviews {
    &__block {
        display: flex;
        justify-content: space-between;
        width: 1170px;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;

        @include dekstop {
            width: 89.65%;
        }

        @include tablet {
            flex-wrap: wrap;
            gap: 18px;
            width: 88.33%;
            margin-top: 50px;
        }
    }
}

.review-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 570px;
    padding: 40px;
    font-size: 23px;
    font-weight: 700;
    line-height: 122%;
    background: $light-grey-color;
    border-radius: 50px;

    @include dekstop {
        width: 49.02%;
    }

    @include tablet {
        width: 100%;
        padding: 20px;
        padding-top: 0;
        padding-right: 0;
        font-size: 16px;
        line-height: 144%;
        border-radius: 20px;
    }
    
    &__text {
        @include tablet {
            width: 90%;
            margin-top: 20px;
            font-size: 16px;
        }
    }

    &__user-block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        height: 145px;

        @include tablet {
            width: 100%;
            height: 115px;
            padding-right: 20px;
        }
    }

    &__user-block-name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75px;

        @include tablet {
            height: 59px;
        }
    }


    &__photo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    &__tour-name {
        font-size: 17px;
        font-weight: 400;
        line-height: 142%;
        color: $grey-color;
        letter-spacing: -0.01em;

        @include tablet {
            width: 100%;
            margin-top: 0;
            font-size: 16px;
        }
    }
}

.travel-photos {
    &__container {
        display: flex;
        flex-direction:column;
        row-gap: 30px;
        width: 100%;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;

        @include tablet {
            row-gap: 18px;
            margin-top: 50px;
        }
    }
}

.row-photos {
    display: grid;
    grid-template-rows: 300px;
    justify-content: space-between;
    padding-right: 1.56%;
    padding-left: 1.56%;

    &:nth-child(1) {
        grid-template-columns: repeat(4, 23.79%);

        @include dekstop {
            grid-template-columns: repeat(3, 31.98%);
        }

        @include tablet {
            grid-template-columns: repeat(2, 47.18%);
        }
    }

    &:nth-child(2) {
        grid-template-columns: repeat(5, 18.77%);

        @include dekstop {
            grid-template-columns: repeat(4, 23.48%);
        }

        @include tablet {
            grid-template-columns: repeat(3, 31.24%);
        }
    }

    &:nth-child(3) {
        grid-template-columns: repeat(4, 23.79%);

        @include dekstop {
            grid-template-columns: repeat(3, 31.98%);
        }

        @include tablet {
            grid-template-columns: repeat(2, 48.43%);
        }
    }

    @include dekstop {
        column-gap: 20px;
        padding-right: 1.95%;
        padding-left: 1.95%;
    }

    @include tablet {
        padding-right: 5.83%;
        padding-left: 5.83%;
    }

    @include mobile {
        grid-template-rows: 110px;
    }

    &__travel-photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 50px;
        
        @include tablet {
            border-radius: 20px;
        }
    }

    &__first-row:nth-child(2), &__third-row:nth-child(4), &__second-row:nth-child(3) {
        @include dekstop {
            display: none;
        }
        
        @include tablet {
            display: none;
        }  
    }
    
    &__first-row:nth-child(3), &__third-row:nth-child(3), &__second-row:nth-child(2) {
        @include tablet {
            display: none;
        }
    }

    &__first-row:not(:nth-child(3)) &__travel-photo {
        @include dekstop {
            object-fit:fill;
        }
    
        @include tablet {
            object-fit:fill;
        }
    }
}

.travel-stories{
    &__block {
        margin-top: 98px;

        @include tablet {
            margin-top: 50px;
        }
    }
}

.travel-history {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1170px;
    height: 567px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border-radius: 50px;

    &::after {
        position:absolute;
        top: 0;
        left: 0;
        width:100%; 
        height:100%;
        content:'';
        background: linear-gradient(270deg, rgb(0 0 0 / 0%) 0.01%, rgb(0 0 0 / 20%) 100%);
        border-radius: 50px;
    }

    &:not(:first-child) {
        margin-top: 50px;
    }

    @include event-selectors {
        &:hover {
            cursor: pointer;
        }
        
        &:hover .detailed-button{
            background: $green-color;
        }

        &:hover &__foto{
            transition: all 300ms ease-in;
            transform: scale(1.2);
        }
    }

    @include dekstop {
        width: 89.65%;
    }

    @include tablet {
        display: flex;
        justify-content: center;
        width: 88.33%;
        height: 455px;
        border-radius: 20px;

        &:not(:first-child) {
            margin-top: 20px;
        }

        &::after {
            content:'';
            border-radius: 20px;
        }
    }

    &__foto {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: all 300ms ease-in-out;

        @include tablet {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }

    &__conntent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 567px;
        padding: 60px 60px 50px;
    
        @include tablet {
            height: 455px;
            padding: 30px 30px 22px;
        }
    }

    &__name {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__subtitle-section {
        z-index: 1;

        @include subtitle-style;

        font-style: normal;
        color: $white-color;
    
        @include tablet {
            width: 50%;
            font-size: 23px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.04em;
        }
    }

    &__description {
        z-index: 1;
        width: 555px;
        margin-top: 38px;

        @include travel-history-text-style;

        @include tablet {
            width: 100%;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 400;
            line-height: 145%;
            color: $white-color;
        }
    }

    &__advantages{
        z-index: 1;
        margin-top: 30px;

        @include travel-history-text-style;
    
        @include tablet {
            width: 100%;
            margin-top: 22px;
            font-size: 16px;
            font-weight: 400;
            line-height: 145%;
            color: $white-color;
        }
    }

    &__advantage {
        font-size: 20px;
        list-style: none;
    
        &::before {
            padding: 0.35em;
            font-size: 30px;
            line-height: 20px;
            vertical-align:text-top;
            content:"·";
        }
    
        @include tablet {
            font-size: 16px;
    
            &::before {
                padding: 0.55em;
                font-size: 16px;
                line-height:20px;
                vertical-align:text-top;
                content:"·";
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__detail {
        z-index: 1;
        margin-left: -20px;
    }

    &__links-social-networks {
        z-index: 1;
        display: flex;
        gap: 35px;
        align-items: center;
        justify-content: center;

        @include tablet {
            display: none;
        }
    }

    &__social-network-link {
        position: relative;
        z-index: 1;
        font-style: normal;
        transition: all 200ms ease-in;

        @include travel-history-text-style;
    
        @include event-selectors {
            &::before {
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                content: '';
                border-bottom: 1px solid $white-color;
                transition: all 200ms ease-in;
            }
    
            &:hover::before {
                width: 100%;
            }
    
            &:active {
                color: $orange-color;
            }
    
            &:active::before {
                width: 100%;
                border-color: $orange-color;
            }
        }
    }
}

.main-block .detailed-button {
    z-index: 1;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 7px 20px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 122%;
    color: $white-color;
    background-color: transparent;
    border: none;
    border-radius: 50px;

    @include event-selectors {
        &:active {  
            background-color: $orange-color;
        }
    }

    @include tablet {
        font-size: 16px;
        line-height: 142%;
    }
}

.email {
    &__photo {
        width: 370px;
        border-radius: 50px;
    
        @include tablet {
            width: 48.12%;
            min-width: 220px;
            border-radius: 20px;
        }
    
        @include mobile {
            width: 130px;
            min-width: auto;
            border-radius: 20px;
        }
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        width: 371px;
    
        @include tablet {
            width: 48.12%;
        }
    
        @include mobile {
            width: 88.33%;
            margin-top: 0;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    }

    &__subtitle-section {
        @include subtitle-style;

        @include tablet {
            font-size: 23px;
            line-height: 112%;
            letter-spacing: 0.02em;
        }

        @include mobile {
            margin-right: auto;
            margin-bottom: 0;
            margin-left: auto;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.04em;
        }
    }

    &__text {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 142%;
        color: $grey-color;
    
        @include mobile {
            width: 95%;
            margin-top: 0;
            margin-right: auto;
            margin-left: auto;
            font-size: 16px;
            line-height: 142%;
        }
    }

    &__link {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 142%;
        color: $dark-color;
    
        @include event-selectors {
            &:hover {
                color: black;
                text-decoration: underline;
                transition: all 300ms ease-in;
            }
    
            &:active{
                color: $green-color;
                text-decoration-line: underline;
            }
        }
    
        @include mobile {
            font-size: 16px;
            line-height: 142%;
        }
    }
}
