* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

button, input, textarea {
    cursor: pointer;
    transition: all 300ms ease-in;
}

ul{
    list-style-type: none;
}

.subtitle-section {
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    @include tablet {
        font-size: 23px;
        line-height: 112%;
        letter-spacing: 0.02em;
    }
}

   
#choosing-tour, #questionnaire, #reviews, #travel-stories {
    transition: all 200ms ease-in;
}