@media (min-width: 1024px) and (max-width: 1919px) {
    
    .header-container{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("image.png"), url("/Users/macbook/Downloads/task №1/img/header-img.png") no-repeat center center;
        background-size: cover;
    }

    .menu {
        padding-left: 5.6%;
        padding-right: 5.6%;
    }
    
    .menu_scroll {
        z-index: 2;
        width: 100%;
    }

    .logo-nav {
        width: 408px;
    }

    .introduction {
        max-width: 500px;
        width: 43.16%;
    }

    .category-images {
        width: 89.65%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        column-gap: 18px;
    }
    .card-tour {
        overflow: hidden;
        border-radius: 50px;
        flex-wrap: wrap;
        width: 450px;
        height: 531px;
        padding-bottom: 20%;
        margin-bottom: 18px;
    }

    .card-tour img {
        display: none;
    }

    .card-tour .tour-1024 {
        display: block;
        width: 100%;
    }

    .card-tour h3 {
        width: 350px;
    }

    .cost {
        top: 110px;
    }

    .questionnaire {
        width: 89.65%;
        padding-top: 118px;
    }

    .questionnaire form {
        padding: 60px;
    }
    .data-field {
        width: 48.75%;
    }

    .agreements label::before {
        content: "";
        margin-right: 11px;
    }

    .containers-reviews {
        width: 89.65%;
    }

    .review {
        width: 49.02%;
    }

    .container-travel-photos {
        width: 96.09%;
    }
    
    .first-row-photos div, .third-row-photos div{
        width: 31.98%;
    }

    .second-row-photos div{
        width: 23.48%;
    }

    .travel-photo1920 {
        display: none;
    }
    
    .second-row-photos div:nth-child(5) .travel-photo1024 {
        display: block;
        object-fit:cover;
    }

    .first-row-photos div:nth-child(2), .third-row-photos div:nth-child(4), .second-row-photos div:nth-child(3) {
        display: none;
    }

    .first-row-photos div:not(:nth-child(3)) img {
        object-fit:fill;
    }

    .storie-image, .bottom {
        width: 918px;
    }

    .storie-image .footer-foto-1920 {
        display: none;
    }

    .footer-foto-1024 {
        display: block;
        transition: all 300ms ease-in-out;
    }


} 