@media (min-width: 741px) and (max-width: 1023px) {
    .category-images {
        width: 654px;
    }

    .questionnaire form {
        margin-left: auto;
        margin-right: auto;
        width: 654px;
    }

    .containers-reviews{
        width: 654px;
    }

    .storie-image{
        width: 654px;
    }

    .storie-image .footer-foto-1920 {
        display: none;
    }

    .footer-foto-1024 {
        display: block;
        transition: all 300ms ease-in-out;
    }

    .container-travel-photos {
        margin-top: 50px;
        width: 88.33%;
    }
    
    .first-row-photos div:nth-child(2), .third-row-photos div:nth-child(4), .second-row-photos div:nth-child(3) {
        display: none;
    }
    
    .first-row-photos div{
        width: 47.17%;
    }
    
    .second-row-photos div:nth-child(5) .travel-photo1024 {
        display: block;
        object-fit:cover;
    }
    
    .first-row-photos div:not(:nth-child(3)) img {
        object-fit:fill;
    }
    
    .third-row-photos div {
        width: 48.5%;
    }
    
    .first-row-photos div, .third-row-photos div{
        height: 110px;
    }
    
    .travel-photo1920 {
        display: none;
    }
    
    .second-row-photos div{
        width: 31.24%;
        height: 110px;
    }
    
    .first-row-photos div img, .third-row-photos div img, .second-row-photos div img{
        border-radius: 20px;
    }
    
    .second-row-photos, .third-row-photos {
        margin-top: 18px;
    }

    .first-row-photos div{
        width: 30%;
    }

    .third-row-photos div {
        width: 30%;
    }

    .second-row-photos div{
        width: 24%;
        height: 110px;
    }

    .Email {
        width: 654px;
    }
}