@include before('smal') {

    .first-row:nth-child(2), .third-row:nth-child(4), .second-row:nth-child(3) {
        display: none;
    }
    
    .first-row:nth-child(3), .third-row:nth-child(3), .second-row:nth-child(2) {
        display: none;
    }
    
    .first-row:not(:nth-child(3)) .travel-photo {
        object-fit:fill;
    }
    
    .third-row{
        width: 48.5%;
    }
    
    .first-row, .third-row{
        height: 110px;
    }
    
    .second-row{
        width: 31.24%;
        height: 110px;
    }
    
    .second-row-photos, .third-row-photos {
        margin-top: 18px;
    }
    
    .travel-stories {
        padding-top: 75px;
    }  

    .email .subtitle-section {
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        letter-spacing: 0.04em;
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
    }

    .email-text {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        font-size: 16px;
        line-height: 142%;
    }

    .email-link {
        font-size: 16px;
        line-height: 142%;
    }
}