@media (min-width: 1547px) and (max-width: 1919px) {
    .questionnaire form {
        margin-left: auto;
        margin-right: auto;
        width: 1386px;
    }

    .containers-reviews{
        width: 1386px;
    }

    .storie-image{
        width: 1386px;
    }
}


