@include from-to ('medium', 'large') {
    
.header-container{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-img.png) no-repeat center center; 
    background-size: cover;
}

.menu {
    padding-left: 5.6%;
    padding-right: 5.6%; 
}

.menu_scroll {
    z-index: 2;
    width: 100%;
}

.logo-nav {
    width: 408px;
}

.introduction {
    max-width: 500px;
    width: 43.16%;
}

.category-images {
    display: flex;
    flex-wrap: wrap;
    width: 89.65%;
    overflow: hidden;
}

.card-tour {
    width: 49.02%;
    margin-bottom: 18px;
}

.card-tour .subtitle-section {
    display: block;
    white-space: nowrap;
}

.cost {
    top: 110px;
}

.questionnaire {
    width: 89.65%;
    padding-top: 118px;
}

.questionnaire-field {
    padding: 60px;
}

.data-field {
    width: 48.75%;
}

.checkbox-button::before {
    content: "";
    margin-right: 11px;
}

.containers-reviews {
    width: 89.65%;
}

.review {
    width: 49.02%;
}

.container-travel-photos {
    width: 96.09%;
}

.first-row, .third-row{
    width: 31.98%;
}

.second-row{
    width: 23.48%;
}

.first-row:nth-child(2), .third-row:nth-child(4), .second-row:nth-child(3) {
    display: none;
}

.first-row:not(:nth-child(3)) .travel-photo {
    object-fit:fill;
}

.third-row:nth-child(1) .travel-photo {
    object-fit:cover;  
}

.bottom {
    width: 918px;
}

.storie-image{
    width: 89.65%;
}

.email {
    width: 75.29%;
    margin-right: auto;
}
    
} 